@charset "utf-8";.acf-field.wpx-fieldgroup.wpx-amenities .acf-input{max-height:320px;overflow:hidden;overflow-y:auto;-ms-overflow-style:-ms-autohiding-scrollbar;-webkit-overflow-scrolling:touch}/*# sourceMappingURL=./wpx_acf.css.map */