{% include('ViewHeader.html.twig') %}
{% import 'UIControls.html.twig' as controls %}
<div class="wpx-body">
    <section class="component wpx-modeladmingroupcontainer">
        <div class="component wpx-modeladmingroup">
            <div class="wpx-modeladmingroup__inner">
                <header class="wpx-modeladmingroup__header">
                    <h3 class="wpx-modeladmingroup__heading">Feature Feeds</h3>
                </header>
                <div class="wpx-modeladmingroup__content">
                    <p>Create and manage Homepage Feature Feeds. These appear at the top portion of the homepage, but may also be used on other pages.</p>
                    <div class="wpx-buttoncontainer">{{controls.uibutton('Manage Feature Feeds', '/wp/wp-admin/admin.php?page=model-admin-featurefeeds')}}</div>
                </div>
            </div>
        </div>
        
        {# 
        <div class="component wpx-modeladmingroup">
            <div class="wpx-modeladmingroup__inner">
                <header class="wpx-modeladmingroup__header">
                    <h3 class="wpx-modeladmingroup__heading">Hero Slides</h3>
                </header>
                <div class="wpx-modeladmingroup__content">
                    <p>Create and manage Hero Slides. These appear at the top of the homepage, but may also be used on other pages (feature TBD).</p>
                    <div class="wpx-buttoncontainer">{{controls.uibutton('Manage Hero Slides', '/wp/wp-admin/admin.php?page=model-admin-heroslides')}}</div>
                </div>
            </div>
        </div>
        
        <div class="component wpx-modeladmingroup">
            <div class="wpx-modeladmingroup__inner">
                <header class="wpx-modeladmingroup__header">
                    <h3 class="wpx-modeladmingroup__heading">Banners</h3>
                </header>
                <div class="wpx-modeladmingroup__content">
                    <p>Create and manage Banners.</p>
                    <div class="wpx-buttoncontainer">{{controls.uibutton('Manage Banners', '/wp/wp-admin/admin.php?page=model-admin-heroslides')}}</div>
                </div>
            </div>
        </div>
        #}

    </section>
</div>
