{% include('ViewHeader.html.twig') %}
{% import 'UIControls.html.twig' as controls %}
<div class="wpx-body">
    <section class="component wpx-utilscontainer">
        
        <div class="component wpx-datafield">
            <textarea id="data_input" data-output="#data_output" class="wpx-importutils__field"></textarea>
        </div>
        <div class="component wpx-datafield">
            <textarea id="data_output" readonly></textarea>
        </div>

    </section>
</div>
