{% include('ViewHeader.html.twig') %}
<div class="wpx-body">
    {% if relations|length > 0 %}
        <div class="wpx-navtabpanel wpx-navtabpanel_current" data-panel="default">
            {{form_html|raw}}
        </div>
        {% for relation in relations %}
        <div class="wpx-navtabpanel" data-panel="{{relation}}"></div>
        {% endfor %}
    {% else %}
    {{form_html|raw}}
    {% endif %}
</div>