{% import "Form_Macros.html.twig" as frm %}
{# {{debug(attributes)}} #}
<form id="{{attributes.id}}" method="{{attributes.method}}" action="{{attributes.action}}" class="wpx-form {% if attributes.class %}{{attributes.class|join(' ')}}{% endif %}" {% if not attributes.autocomplete %}autocomplete="off"{% endif %}>
    <div class="wpx-form__inner">
        {% if attributes.class %}
        <div class="wpx-form__message" style="display: hidden;">{{message}}</div>
        {% endif %}

        {{fields|raw}}
    </div>
</form>