{% import "Form_Macros.html.twig" as frm %}
{% switch field.type %}
    {% case 'textarea' %}
        {{ frm.textarea(form_id, field) }}    
    {% case 'submit' %}
        {{ frm.submit(form_id, field) }}
    {% case 'hidden' %}
        {{ frm.input(form_id, field) }}
    {% case 'map' %}
        {{ frm.map(form_id, field) }}
    {% case 'media' %}
        {{ frm.media(form_id, field) }}
    {% case 'slug' %}
        {{ frm.slug(form_id, field) }}
    {% case 'select' %}
        {{ frm.select(form_id, field) }}
    {% case 'radiogroup' %}
        {{ frm.radiogroup(form_id, field) }}
    {% case 'checkboxgroup' %}
        {{ frm.checkboxgroup(form_id, field) }}
    {% case 'checkbox' %}
        {{ frm.checkbox(form_id, field) }}
    {% case 'radio' %}
        {{ frm.radio(form_id, field) }}
    {% default %}
        {{ frm.inputblock(form_id, field) }}
{% endswitch %}  
