{% macro label(id, label, input) %}
    <label for="{{id}}" class="field__label">
        <span class="field__label_inner">{{label}}</span>
        {% if input %}
            {{ input }}
        {% endif %}
    </label>
{% endmacro %}

{% macro input(form_id,attributes) %}
    <input id="{{attributes.id}}" {{attributes.attributes_string|raw}} {% if attributes.class %}class="{{attributes.class|join(' ')}}"{% endif %} />
{% endmacro %}

{% macro inputblock(form_id,field) %}
{% set label = (field.attributes.label) ? field.attributes.label : field.label  %}
    <div id="{{form_id}}{{field.name}}" class="field {{field.type}}">
        <div class="field__inner">
            <label for="{{field.id}}" class="field__label">
                <span class="field__label_inner">{{label|default(field.label)}}</span>
                <input id="{{field.id}}" {{field.attributes_string|raw}} {% if field.class %}class="{{field.class|join(' ')}}"{% endif %} />
            </label>

            {% if field.attributes.instructions %}
            <label for="{{field.id}}" class="field__instructions">
                {{field.attributes.instructions|content_html}}
            </label>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro slug(form_id,attributes) %}
{% set defaulturl = attributes.attributes.defaulturl %}
{% set slugurl = attributes.attributes.slugurl %}
{% set slugtext = attributes.attributes.slugtext %}
    <div id="{{form_id}}{{attributes.name}}" class="field text">
        <div class="field__inner">
            <label for="{{attributes.id}}" class="field__label">
                <span class="field__label_inner">{{attributes.label}}</span>
                <span class="wpx-slugurlpreviewcontainer">
                    <input id="{{attributes.id}}" name="{{attributes.name|default('')}}" autocomplete="off" type="text" value="{{attributes.attributes.value|default('')}}" class="wpx-slugurlpreview {{attributes.class|default('')|join(' ')}}" required="{{attributes.required|default('false')}}" />
                    <a href="{{ slugurl|default('/')|e('html_attr')}}" data-basehref="{{defaulturl|default('/')|e('html_attr')}}" target="_blank" class="wpx-slugurlpreview__link"><span>{{slugtext|raw|e('html_attr')}}</span></a>
                </span>
            </label>        
        </div>
    </div>
{% endmacro %}

{% macro submit(form_id,attributes) %}
    <div id="{{form_id}}{{attributes.name}}" class="actions {{attributes.type}}">
        <div class="actions__inner">
            <input id="{{attributes.id}}" {{attributes.attributes_string|raw}} class="wpx-button wpx-button_primary {% if attributes.class %}{{attributes.class|join(' ')}}{% endif %}" />
        </div>
    </div>
{% endmacro %}

{% macro map(form_id,attributes) %}
{% import 'UIControls.html.twig' as controls %}
    <div id="{{form_id}}{{attributes.name}}" class="field text {{attributes.type}}">
        <div class="field__inner">
            <label for="{{attributes.id}}" class="field__label">
                <span class="field__label_inner">{{attributes.label}}</span>
                <div class="field__inputwrapper">
                    <input id="{{attributes.id}}" name="map_address" autocomplete="false" value="{{attributes.attributes.map_address|default(attributes.value)}}" type="text" data-mapaddress="{{attributes.attributes.address|default('')}}" class="wpx-geocomplete {{attributes.class|default('')|join(' ')}}" />
                    <input name="{{attributes.name}}" value="{{attributes.value}}" type="hidden" />

                    <div class="wpx-buttoncontainer">
                        {{controls.uibutton('Search', null, 'wpx-maptrigger', null, 'search')}}
                        {{controls.uibutton_icon(null, 'wpx-coordstoggle', 'toggle', 'my_location')}}
                        {{controls.uibutton_icon(null, 'wpx-mapreset', 'clear', 'clear')}}
                    </div>
                </div>
            </label>
        </div>
        <div class="field__inner wpx-mapcontainer">
            <div id="{{form_id}}geocomplete_map" class="wpx-map"></div>
        </div>
    </div>
{% endmacro %}

{% macro media(form_id,field) %}
    {% set imgdata = field.attributes.data %}
    {% set metadata = field.attributes.data.othermetadata|json_decode %}
    {% set label = (field.attributes.label) ? field.attributes.label : field.label  %}    
    <div id="{{form_id}}{{field.name}}" class="field {{field.type}}">
        <div class="field__inner">
            <label for="{{field.id}}" class="field__label"><span class="field__label_inner">{{label}}</span></label>
            <div class="wpx-mediaupload">
                <input id="{{field.id}}" type="hidden" name="{{field.name}}" value="{{field.value|raw}}" />
                <input id="{{field.id}}_Metadata" type="hidden" name="_media_metadata_[meta][{{field.name}}]" value="{{field.attributes.data.othermetadata}}" />

                <div class="wpx-mediaupload__preview" data-state="{{ (field.value) ? 'active' : 'hidden' }}">
                    <div class="wpx-mediaupload__asset">                        
                        {% if metadata.type == 'image' or imgdata.type == 'jpeg' or imgdata.type == 'png' or imgdata.type == 'gif' %}
                            {% if imgdata and imgdata.asset %}
                            {% set img_resource = uri_resource_path(imgdata.asset) ?: null %}
                            {% set img_uri = img_resource ? img_resource|square(256,256) : '/resources/assets/images/preview.png'  %}
                            <img src="{{img_uri}}" class="wpx-mediaupload__media {{metadata.orientation}}" data-id="{{imgdata.ID}}" data-preview="/resources/assets/images/preview.png">
                            {% else %}
                            <img src="/resources/assets/images/preview.png" data-preview="/resources/assets/images/preview.png" class="wpx-mediaupload__media">
                            {% endif %}
                        {% else %}
                            <img src="{{metadata.icon}}" data-preview="{{metadata.icon}}" class="wpx-mediaupload__media">
                        {% endif %}
                    </div>
                    <div class="wpx-mediaupload__metadata">
                        {% if metadata %}
                        <span class="wpx-mediaupload__meta wpx-mediaupload__meta_title">{{metadata.title|default(imgdata.name)}} ({{imgdata.type|default('unknown')}})</span>
                        <span class="wpx-mediaupload__meta wpx-mediaupload__meta_filesize">{{metadata.filesizeHumanReadable ? metadata.filesizeHumanReadable : human_readable_filesize(metadata.filesize|default('0'))}}</span>
                        {% else %}
                        <span class="wpx-mediaupload__meta wpx-mediaupload__meta_title">N/A</span>
                        <span class="wpx-mediaupload__meta wpx-mediaupload__meta_filesize">--</span>
                        {% endif %}
                        <a href="javascript:void(0);" class="wpx-mediaupload__clear">
                            <span class="md-icon">clear</span>
                        </a>
                    </div>
                </div>

                <div class="wpx-mediaupload__inner" data-state="{{ (field.value) ? 'hidden' : 'active' }}">
                    <a href="javascript:void(0);" class="wpx-mediaupload__button">
                        <span class="md-icon">photo_library</span><span class="wpx-mediaupload__label">Add Media</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro textarea(form_id,field) %}
    {% set label = (field.attributes.label) ? field.attributes.label : field.label  %}
    <div id="{{form_id}}{{field.name}}" class="field {{field.type}}">
        <div class="field__inner">       
            <label for="{{field.id}}" class="field__label"><span class="field__label_inner">{{label}}</span></label>
            <textarea id="{{field.id}}" rows="3" {{field.attributes_string|raw}} {% if field.attributes.class %}class="{{field.attributes.class|join(' ')}}"{% endif %}>{{field.value|trim|e('html')}}</textarea>
            {% if field.attributes.instructions %}
            <label for="{{field.id}}" class="field__instructions">
                {{field.attributes.instructions|content_html}}
            </label>
            {% endif %}            
        </div>
    </div>
{% endmacro %}

{% macro select(form_id,field) %}
    {% set option_list = field.attributes.options %}
    {% set label    = (field.attributes.label) ? field.attributes.label : field.label  %}
    {% set multiple = (field.attributes.multiple) ? 'multiple' : ''  %}
    <div id="{{form_id}}{{field.attributes.name}}" class="field {{field.attributes.type}}">
        <div class="field__inner"> 
            <label for="{{field.attributes.id}}" class="field__label"><span class="field__label_inner">{{label}}</span></label>
            <select {{field.attributes_string|raw}} {{multiple|default('')}}>
            {% if field.attributes.placeholder is empty %}
                <option value="">Choose One</option>
            {% endif %}
            {% for option in option_list %}
                {% set selected = (option['selected'] == 1) or (field.attributes.value == option['value']) ? 'selected' : '' %}
                <option value="{{option['value']}}" {{selected|default('')}}>{{option['label']}}</option>
            {% endfor %}
            </select>
            {% if field.attributes.instructions %}
            <label for="{{field.id}}" class="field__instructions">
                {{field.attributes.instructions|content_html}}
            </label>
            {% endif %}            
        </div>
    </div>
{% endmacro %}

{% macro radiogroup(form_id,field) %}
    {% set option_list = field.attributes.options %}
    {% set label = (field.attributes.label) ? field.attributes.label : field.label  %}    
    <div id="{{form_id}}{{field.attributes.name}}" class="field {{field.attributes.type}}">
        <div class="field__inner">       
            <label for="{{field.attributes.id}}" class="field__label"><span class="field__label_inner">{{label}}</span></label>
            <ol id="{{field.attributes.id}}" name="{{field.attributes.name}}" {{field.attributes.attributes_string|raw}} {% if field.attributes.class %}class="wpx-optiongroup {{field.attributes.class|join(' ')}}"{% endif %}>
            {% for option in option_list %}
                <li class="wpx-optiongroup__item" data-id="{{option['value']|e('html_attr')}}">
                    <input type="radio" name="{{field.attributes.name}}" value="{{option['value']}}"{% if field.attributes.value == option['value'] %} checked{% endif %}><span class="wpx-optiongroup__label">{{option['label']}}</span>
                </li>
            {% endfor %}
            </ol>
        </div>
    </div>
{% endmacro %}

{% macro checkboxgroup(form_id,field) %}
    {% set option_list = field.attributes.options %}
    {% set label = (field.attributes.label) ? field.attributes.label : field.label  %}    
    <div id="{{form_id}}{{field.attributes.name}}" class="field {{field.attributes.type}}">
        <div class="field__inner">       
            <label for="{{field.attributes.id}}" class="field__label"><span class="field__label_inner">{{label}}</span></label>
            <ol id="{{field.attributes.id}}" name="{{field.attributes.name}}" {{field.attributes.attributes_string|raw}} {% if field.attributes.class %}class="wpx-optiongroup {{field.attributes.class|join(' ')}}"{% endif %}>
            {% for option in option_list %}
                <li class="wpx-optiongroup__item" data-id="{{option['value']|e('html_attr')}}">
                    <input type="checkbox" name="{{field.attributes.name}}" value="{{option['value']}}"{% if field.attributes.value == option['value'] %} checked{% endif %}><span class="wpx-optiongroup__label">{{option['label']}}</span>
                </li>
            {% endfor %}
            </ol>
        </div>
    </div>
{% endmacro %}

{% macro checkbox(form_id,attributes) %}
{% if attributes.booleancheckbox == '1' %}
    {% set cb_state = attributes.value == '1' ? 'checked' : null %}
{% else %}
    {% set cb_state = attributes.value ? 'checked' : null %}
{% endif %}
    <div id="{{form_id}}{{attributes.name}}" class="field {{attributes.type}}">
        <div class="field__inner">
            <label for="{{attributes.id}}" class="field__label">
                <span class="field__label_inner">{{attributes.attributes.label|default(attributes.label)}}</span>
                <input id="{{attributes.id}}" {{attributes.attributes_string|raw}} {% if attributes.class %}class="{{attributes.class|join(' ')}}"{% endif %} {{cb_state|default('')}} />
            </label>        
        </div>
    </div>
{% endmacro %}

{% macro radio(form_id,attributes) %}
{% if attributes.booleancheckbox == '1' %}
    {% set cb_state = attributes.value == '1' ? 'checked' : null %}
{% else %}
    {% set cb_state = attributes.value ? 'checked' : null %}
{% endif %}
    <div id="{{form_id}}{{attributes.name}}" class="field {{attributes.type}}">
        <div class="field__inner">
            <label for="{{attributes.id}}" class="field__label">
                <span class="field__label_inner">{{attributes.label}}</span>
                <input id="{{attributes.id}}" {{attributes.attributes_string|raw}} {% if attributes.class %}class="{{attributes.class|join(' ')}}"{% endif %} {{cb_state|default('')}} />
            </label>        
        </div>
    </div>
{% endmacro %}