{% macro contextmenu(context, is_relation, link_overrides, md_icon, extra_classes) %}
    {% set edit_link    = link_overrides.edit ?: context.LinkByPage('edit') %}
    {% set delete_link  = link_overrides.delete ?: false %}
    {% set unlink_link  = link_overrides.unlink ?: false %}
    {% set entity_tag   = attribute(context, 'getEntityClass', [false]) %}
    <button class="{{extra_classes|default('wpx-tableaction')}}" title="Actions">
        <span class="md-icon">{{md_icon|default('more_horiz')}}</span>
    </button>
    <ul class="wpx-tableactionlist" data-entity="{{entity_tag}}">
        <li class="wpx-tableactionlist__item" data-action="edit">
            <a href="{{edit_link}}" class="wpx-tableactionlist__link" data-action="edit">
                <span class="md-icon">edit</span>
                <span class="wpx-tableactionlist__label">Edit</span>
            </a>
        </li>

        {% if is_relation %}
            {% if not unlink_link %}
            <li class="wpx-tableactionlist__item" data-action="unlink">
                <a href="javascript:void(0);" data-metadata="javascript:void(0);" data-action="unlink" class="wpx-tableactionlist__link">
                    <span class="md-icon">link_off</span>
                    <span class="wpx-tableactionlist__label">Unlink</span>
                </a>
            </li>
            {% endif %}
        {% endif %}

        {% if not delete_link %}
        <li class="wpx-tableactionlist__item" data-action="delete">
            <a href="javascript:void(0);" data-metadata="javascript:void(0);" data-action="delete" class="wpx-tableactionlist__link">
                <span class="md-icon">delete_forever</span>
                <span class="wpx-tableactionlist__label">Delete</span>
            </a>
        </li>
        {% endif %}
    </ul>
{% endmacro %}

{% macro relationheader(options, col_count) %}
    <tr>
        <td colspan="{{ (col_count - 3) }}" class="wpx-table__heading">
            <h2>{{options.relation_heading}}</h2>
        </td>
        <td colspan="{{ (col_count - (col_count - 3)) }}" class="wpx-table__controls">
            <span class="wpx-tablecount">{{options.entity_count ? "1-#{options.entity_count} of #{options.entity_count}" : 0}}</span>
        </td>
    </tr>
{% endmacro %}

{% macro search(options, col_count, overrides) %}
    <tr>
        <td colspan="{{ col_count }}" class="wpx-table__search">
            <div class="wpx-searchcontainer">
            {% if options.form_action is not empty %}
                <form action="{{options.form_action}}" method="post" enctype="application/x-www-form-urlencoded" data-mode="{{options.mode}}" data-ownerid="{{options.owner_id}}" data-endpoint="{{options.endpoint}}" data-format="{{options.request_format|json_encode()|e('html_attr')}}" data-currentrelation="{{options.current_relation|json_encode()|e('html_attr')}}" class="wpx-search">
            {% else %}
                <div class="wpx-search" data-mode="{{options.mode}}">
            {% endif %}
                {% switch options.mode %}
                    {% case 'filter' %}
                        {% set placeholder = overrides.placeholder_filter ?: "Filter current #{options.entity_tag}" %}
                        <input type="text" name="search" data-mode="filter" placeholder="Filter current {{options.entity_tag}}…" autocomplete="off" class="wpx-search__field">
                    {% default %}
                        {% set placeholder = overrides.placeholder_search ?: "Find #{options.entity_tag} by name…" %}
                        <input type="text" name="search" data-mode="search" placeholder="{{placeholder}}" autocomplete="off" class="wpx-search__field"><button class="wpx-search__button"><span class="md-icon">link_on</span><span class="wpx-search__buttonlabel">Link Existing</span></button>
                {% endswitch %}  
            {% if options.form_action is not empty %}
                </form>
            {% else %}
                </div>
            {% endif %}
            </div>
        </td>
    </tr>
{% endmacro %}

{% macro tablefooter(options, col_count) %}
    {% if options.entity_count is not empty %}
    <tfoot>
        <tr>
            <td colspan="{{col_count}}">
                <span class="wpx-tablecount">{{options.entity_count ? "1-#{options.entity_count} of #{options.entity_count}" : 0}}</span>
            </td>
        </tr>
    </tfoot>
    {% endif %}
{% endmacro %}
