{% import 'TableControls.html.twig' as controls %}
<div class="wpx-tablecontainer">
    <table id="WPX_{{entity.class_name}}_Table" class="wpx-table wpx-table_interactive wpx-table_fixed {{ entity.sortable ? 'wpx-table_draggable' : '' }}" cellpadding="0" cellspacing="0" width="100%" data-sortable="{{entity.sortable}}" data-entity="{{entity.class_name}}" data-collection="{{collection.collection_name}}" data-restinfo="{{options.rest|json_encode|e('html_attr')}}" data-reloadendpoint="{{options.reload_endpoint}}" data-relationdetails="{{options.relation_details|json_encode|e('html_attr')}}">
        <thead>
            {% if (options is not empty) and (options.link_relations) %}
                {{ controls.relationheader(options, entity.display_fields|length + 1) }}                
            {% endif %}
            <tr>
                <td colspan="4" class="wpx-table__actions">
                    <form action="{{search_options.form_action}}" method="post" enctype="application/x-www-form-urlencoded" data-mode="{{search_options.mode}}" data-ownerid="{{search_options.owner_id}}" data-endpoint="{{search_options.endpoint}}" data-format="{{search_options.request_format|json_encode()|e('html_attr')}}" data-currentrelation="{{search_options.current_relation|json_encode()|e('html_attr')}}" class="wpx-tableactions-container">
                        <button class="wpx-button wpx-button_primary wpx-addmedia"><span class="md-icon">add_photo_alternate</span><span class="wpx-button__label">Add Image(s)</span></button>
                    </form>
                </td>
            </tr>
        </thead>
        {{ controls.tablefooter(options, 4) }}
        <tbody class="wpx_tbody_transparent">

            <tr class="wpx_tablerow wpx_tablerow_container">
                <td colspan="4">
                    <div class="wpx-imagecollection">
                        
                        {% for item in collection.collection %}
                            {% set status = item['status'] ?: item['post_status'] %}
                            {% set primay_key = item.getPrimaryKeyField() ?: 'id' %}
                            {% set item_id = attribute(item, primay_key) %}
                            {% set edit_link = "post.php?post=#{item_id}&action=edit" %}
                            <div id="item-{{item_id}}" data-id="{{item_id}}"{% if entity.sortable %} data-order="{{item.sort_order}}"{% endif %} class="wpx-paper-root wpx-paper wpx-paper-rounded wpx-paper-elevation-2dp" data-status="{{status|default('--')}}">
                                <div class="wpx-cardheader-root">
                                    <div class="wpx-cardheader-content">
                                        <span class="wpx-typography-root wpx-typography-title">
                                            {{item.post_title}}
                                        </span>
                                        <span class="wpx-typography-root wpx-typography-subheader">
                                            Type: {{item.post_mime_type|default('unknown')}}
                                        </span>
                                    </div>
                                    <div class="wpx-cardheader-action">
                                        {{ controls.contextmenu(item, is_relation|default(false), {'edit': edit_link},"more_vert", "wpx-md-button--root wpx-md-button wpx-md-button_icon") }}
                                    </div>
                                </div>
                                <a href="{{edit_link}}" class="wpx-cardmedia-root wpx-cardmedia wpx-cardmedia-4-3 wpx_tablerow__link">
                                    {% for meta in item.meta %}
                                        {% if meta.meta_key == '_wp_attachment_metadata' %}
                                            {% set image_meta = meta.meta_value|unserialize|default('') %}
                                            {% if image_meta %}
                                                {% set img_resource = uri_resource_path(image_meta.file) ?: null %}
                                                {% set img_uri = img_resource ? img_resource|resize_width(640,480) : picsum(640,480)  %}
                                                <img src="{{"#{img_uri}"|default(picsum(640,480))}}" />
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </a>
                                <div class="wpx-cardcontent-root wpx-cardcontent">
                                {% set meta_description = null %}
                                {% for meta in item.meta %}
                                    {% if meta.meta_key == '_wp_attachment_image_alt' %}
                                    {% set meta_description = meta.meta_value ?: null %}
                                    {% endif %}
                                {% endfor %}
                                    <p class="wpx-typography wpx-typography-body-2">{{meta_description|default('No alt text or description available.')}}</p>
                                </div>
                            </div>
                        {% endfor %}          


                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>