{% import 'TableControls.html.twig' as controls %}
<div class="wpx-tablecontainer">
    <table id="WPX_{{entity.class_name}}_Table" class="wpx-table wpx-table_interactive {{ entity.sortable ? 'wpx-table_draggable' : '' }}" cellpadding="0" cellspacing="0" width="100%" data-sortable="{{entity.sortable}}" data-entity="{{entity.class_name}}" data-collection="{{collection.collection_name}}" data-restinfo="{{options.rest|json_encode|e('html_attr')}}" data-reloadendpoint="{{options.reload_endpoint}}" data-relationdetails="{{ options.relation_details ? options.relation_details|json_encode|e('html_attr') : ''}}">
        <thead>
            {% if (options is not empty) and (options.link_relations) %}
                {{ controls.relationheader(options, entity.display_fields|length + 1) }}                
            {% endif %}        
            {% if (search_options is not empty) %}
                {% 
                    set overrides = { 
                        placeholder_filter: 'Filter published pages by title…', 
                        placeholder_search: 'Search published pages by title…' 
                    }
                %}
                {{ controls.search(search_options, entity.display_fields|length + 1,overrides) }}
            {% endif %} 
            <tr>
            {% if (entity.display_fields is not empty) and (entity.display_fields) %}                    
                {% for field, field_type in entity.display_fields %}
                    <th data-tsorter="{{field_type}}"{{ (field_type == 'datetime' or field_type == 'date') ? 'colinfo' : ''  }}>{{field}}</th>
                {% endfor %}
            {% endif %}        
                <th class="colaction" colaction tsortignore></th>
            </tr>
        </thead>
        {{ controls.tablefooter(options, 6) }}
        <tbody>
        {% for item in collection.collection %}
            {% set status = item['status'] ?: item['post_status'] %}
            {% set primay_key = item.getPrimaryKeyField() ?: 'id' %}
            {% set item_id = attribute(item, primay_key) %}
            {% set edit_link = "post.php?post=#{item_id}&action=edit" %}
            <tr id="item-{{item_id}}" data-id="{{item_id}}"{% if entity.sortable %} data-order="{{item.sort_order}}"{% endif %} class="wpx_tablerow wpx_tablerow_clickable" data-status="{{status|default('--')}}">
            {% if (entity.display_fields is not empty) and (entity.display_fields) %}                    
                {% for field, field_type in entity.display_fields %}
                    {% if field == entity.display_field %}
                        <td data-colname="{{field|lowercase}}"{{ (field_type == 'datetime' or field_type == 'date') ? 'colinfo' : ''  }}>
                            <span class="colnowrap"><a href="{{edit_link}}" aria-label="{{attribute(item, entity.display_field)|content_html|escape('html_attr')}} (Edit)" class="wpx_tablerow__link">{{attribute(item, entity.display_field)|content_html}}</a></span>
                        </td>
                    {% else %}
                        {% if field_type == 'datetime'  %}
                            <td data-colname="{{field|lowercase}}" colinfo>
                                <span class="colnowrap">{{attribute(item, field)|date('Y-m-d') ?: '--' }}</span>
                            </td>
                        {% else %}
                            <td data-colname="{{field|lowercase}}">
                                <abr title="{{attribute(item, field) ?: '--' }}" class="colnowrap">{{attribute(item, field) ?: '--' }}</abr>
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
                <td class="colaction wpx-tableactions" colaction>                    
                    {{ controls.contextmenu(item, is_relation|default(false), {'edit': edit_link, 'delete': true}) }}
                </td>
            </tr>
        {% endfor %}          
        </tbody>
    </table>
</div>