{% macro uibutton(label, url, extra_classes, action, icon) %}
<a href="{{url|default('javascript:void(0);')}}" class="wpx-button wpx-button_primary {{ extra_classes|default('') }}" data-action="{{action|default('none')}}">
    <span class="md-icon">{{icon|default('arrow_right')}}</span>
    <span class="wpx-button__label">{{label|default('Button Label')}}</span>
</a>
{% endmacro %}

{% macro uibutton_icon(url, extra_classes, action, icon) %}
<a href="{{url|default('javascript:void(0);')}}" class="wpx-button wpx-button_icon wpx-button_primary {{ extra_classes|default('') }}" data-action="{{action|default('none')}}">
    <span class="md-icon">{{icon|default('arrow_right')}}</span>
</a>
{% endmacro %}