<header class="wpx-header">
    {# {{debug(_context)}} #}
    <h1 class="wpx-header__heading">
        {% if back_link %}<a href="{{back_link}}" class="wpx-header__backbutton"><span class="md-icon">chevron_left</span></a>{% endif %}
        <span class="wpx-header__label {% if title_subhead %}wpx-header__label_index{% endif %}">{{page_title}}</span>
        {% if title_subhead %}<span class="wpx-header__label">{{title_subhead}}</span>{% endif %}
    </h1>
    {% if navigation %}
    <nav class="wpx-headernav wpx-headernav_right">
        {{navigation|raw}}
    </nav>
    {% endif %}
</header>

{% if messages and (messages is not empty) and (messages|length > 0) %}
<div class="wpx-messages">
    <div class="wpx-messages__inner">
        {% for msg_type, message in messages %}
            {% for item in message %}
            <div class="wpx-message wpx-message_{{msg_type}}">
                <p>{{item|raw}}</p>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% if back_link == '' and class_name != 'AdminDefault' and class_name != 'ImportUtils' %}
<nav class="wpx-toolbar">
    <div class="wpx-toolbar__inner">
        <a href="{{add_link}}" class="wpx-button wpx-button_primary" data-action="add">
            <span class="md-icon">add_circle</span>
            <span class="wpx-button__label">Add {{entity.class_name}}</span>
        </a>
    </div>
</nav>
{% endif %}