<main class="wpx-container wpx-container_wrap" data-view="{{ view_name|e('html_attr') }}">		
    <div class="wpx-container__inner">
        {% include('Layout/' ~ view_layout)  %}
    </div>
</main>
<template id="wpx-uicomponents">
    <div style="display: none;">
        <div class="wpx-blocker">
            <div class="wpx-blocker__inner">
                <img src="../../resources/assets/images/spinner.svg">
            </div>
        </div>
    </div>
</template>