// main: styles.less
// ---------------------------------------------------------- //
// FONT STACKS
// ---------------------------------------------------------- //
@DefaultFonts:              Helvetica, sans-serif;
@SerifFonts:                "Georgia", serif;
@BrandFonts:                "Gotham A", "Gotham B", sans-serif;
@SansFonts:                 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
@SansFonts_Narrow:          sans-serif;
@MonoFonts:                 "Menlo",Monaco,"Courier New",Courier,monospace;

// ---------------------------------------------------------- //
// MEDIA QUERIES: COMMON BREAKPOINTS
// ---------------------------------------------------------- //
@MQ1:                       1em;
@MQ375:                     23.4375em;
@MQ425:                     26.5625em;
@MQ480:                     30em;
@MQ600:                     37.5em;
@MQ640:                     40em;
@MQ768:                     48em;
@MQ840:                     52.5em;
@MQ960:                     60em;
@MQ1024:                    64em;
@MQ1152:                    72em;
@MQ1280:                    80em;
@MQ1440:                    90em;
@MQ1600:                    100em;
@MQ1920:                    120em;

// ---------------------------------------------------------- //
// COLORS: UTILITY
// ---------------------------------------------------------- //
@Warning:           rgb(192,152,83);
@Error:             rgb(185,74,72);
@Info:              rgb(58,135,173);
@Success:           rgb(70,136,71);
@White:             rgb(255,255,255);
@Black:             rgb(0,0,0);
@APP_BaseColor:     rgb(250, 250, 250);
@Pink:              #f0f;
@BaselineGrid:      #1da1ff;

// ---------------------------------------------------------- //
// COMPONENT CONSTANTS
// ---------------------------------------------------------- //
@AppBarHeight: 64px;
@AppContainer_Width: 320px;

// ---------------------------------------------------------- //
// COLORS: SOCIAL MEDIA
// ---------------------------------------------------------- //
@FacebookRGB:       rgb(59, 89, 152);
@FacebookHEX:       #3b5998;

@TwitterRGB:        rgb(0, 172, 237);
@TwitterHEX:        #00aced;

@GooglePlusRGB:     rgb(221, 75, 5);
@GooglePlusHEX:     #dd4b39;

@YouTubeRGB:        rgb(187, 0, 0);
@YouTubeHEX:        #bb0000;

@LinkedInRGB:       rgb(72,117,180);
@LinkedInHEX:       #4875b4;

@InstagramRGB:      rgb(81, 127, 164);
@InstagramHEX:      #517fa4;

@PinterestRGB:      rgb(203, 32, 39);
@PinterestHEX:      #cb2027;

// ---------------------------------------------------------- //
// COLORS: MATERIAL
// ---------------------------------------------------------- //
/* Palette generated by Material Palette - materialpalette.com/blue/pink */
@material_primary_color_dark    : @Black;
@material_primary_color         : #009ec4;
@material_primary_color-100     : #009ec4;
@material_primary_color_light   : @White;
@material_primary_color_text    : lighten(@Black, 97%);
@material_accent_color-50       : lighten(#0BBAE6,10%);
@material_accent_color          : #0BBAE6;
@material_accent_color-100      : #009ec4;
@material_text_color_primary    : lighten(@Black, 12%);
@material_text_color_secondary  : lighten(@Black, 54%);
@material_divider_color         : #d9d9d9;
@material_divider_color-50      : #eaecec;

// ---------------------------------------------------------- //
// WPX COLORS
// ---------------------------------------------------------- //
@wpx_bodycolor-50: #566b8d;
@wpx_bodycolor-100: #43536d;


@wpx_background-50: #f7f8fa;
@wpx_background-75: #f0f4f7;
@wpx_background-100: #f1f3f6;

@wpx_border-50: #ced5e1;
@wpx_border-100: #43536d;

@wpx_green-50: #008a00;
@wpx_green-100: #006400;


@wpx_blue-50: #0071c4;
@wpx_blue-100: #004e7f;

@wpx_red-50: #da273b;
@wpx_red-100: darken(#da273b, 5%);

@wpx_info-50: #29abe2;
@wpx_warning-50: #ffc107;
@wpx_danger-50: #da273b;

@wpx_accent-50       : lighten(#0BBAE6,10%);
@wpx_grey-50       : #dcdcdc;


// ---------------------------------------------------------- //
// GREYS
// ---------------------------------------------------------- //
@GreyBlue:      #607D8B;
@GreyBlue-33:   #f9fafb;
@GreyBlue-50:   #ECEFF1;
@GreyBlue-100:  #CFD8DC;
@GreyBlue-200:  #B0BEC5;
@GreyBlue-300:  #90A4AE;
@GreyBlue-400:  #78909C;
@GreyBlue-500:  #607D8B;
@GreyBlue-600:  #546E7A;
@GreyBlue-700:  #455A64;
@GreyBlue-800:  #37474F;
@GreyBlue-900:  #263238;

@GreyLight-100: rgb( 249, 249, 249 );
@GreyLight-200: rgb( 240, 241, 243 );
@GreyLight-300: rgb( 253, 253, 253 );
@GreyLight-400: rgb( 51, 51, 51 );
@GreyDark-100:  rgb( 122, 125, 129 );
@GreyDark-200:  rgb( 77, 79, 82 );
@GreyDark-300:  rgb( 34, 34, 34 );

// ---------------------------------------------------------- //
// TYPOGRAPHIC CONSTANTS
// ---------------------------------------------------------- //
@typography_basefontsize: 16px;
@typography_baselineheight: 32px;
@typography_baseline: abs(@typography_basefontsize * .5);

// ---------------------------------------------------------- //
// LAYOUT UNITS
// ---------------------------------------------------------- //
@XUNIT: @typography_baselineheight;