// main: styles.less
@charset "utf-8";
@import (reference) "config.less";

// ---------------------------------------------------------- //
// VARS
// ---------------------------------------------------------- //
.flex-grid {
    display: flex;
    overflow: hidden;

    &__row {
        display: flex;
        overflow: hidden;
        flex: 0 0 100%;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        // Testing
        // background: fade(@Pink, 5%);
    }

    &__col {
        // Testing
        // background: fade(rgb(0, 247, 255), 8%);
    }

    > * {
        flex: 1;

        // For Testing
        &[class*="__col"] {
            // background: fade(@Pink, 5%);
        }

        &.flex-grid {

            &__row {
                flex: 0 0 100%;
            }

            &__col {
                flex: 0 0 100%;

                margin: 0 0 @XUNIT;
                
                .responsive768({
                    margin: 0 0 @XUNIT @XUNIT;
                    flex: 4;
                });

                &_auto {
                    flex: 1;
                }

                &_1 {
                    flex-grow: 1;
                }

                &_2 {
                    flex-grow: 2;
                }

                &_3 {
                    flex-grow: 3;
                }

                &_4 {
                    flex-grow: 4;
                }

                &_fixed {
                    flex: 0 0 100%;
                }

            }

        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

// ---------------------------------------------------------- //
// BASELINE GRID
// ---------------------------------------------------------- //
.grid() {
    // x4 line-height (16px)
    &:before {
        display: block;
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99999;
        pointer-events: none;
        background-size: 16px 16px;
        background-image: repeating-linear-gradient(0deg, transparent, rgba(255,0,0,0.3) 1px, transparent 1px, transparent 4px);
    }
}

.uigrid {
    &:before {
        content: '';
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 0;
        min-height: 100%;
        z-index: 1000;
        pointer-events: none;
        .baselinegrid(true, fade(@BaselineGrid, 20%));
    }
}