// out: ../css/wpx_admin_styles.css
@import "config.less";
@import "normalize.less";
@import "typography.less";
@import "jquery.modal.less";
@import url('https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css');

//--------------------------------------------- //
// OVERRIDES
//--------------------------------------------- //
#wpwrap {
    background: @wpx_background-50;
}

#wpcontent {
    width: 100%;
    margin-left: 0;    
    padding-left: 0;
    
    .responsive960({
        padding-left: 160px;
    });
}

body {
    &.folded {
        #wpcontent {
            .responsive960({
                padding-left: 36px;
                margin-left: 0;
            });
        }        
    }
}

#wpbody {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    font-family: @SansFonts;

    width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-y: visible;
    .nomarginpadding();

    * {
        border-collapse: collapse;
        // font-family: @SansFonts;
    }

    *,
    a,
    img {
        &:focus {
            outline: 0;
        }
    }
    
    a {
        color: @material_accent_color;
        text-decoration: none;
    
        &:focus,
        &:hover,
        &:active {
            box-shadow: none;
        }
    }
    
    .hidden {
        .hide();
    }
    
    .accent {
        color: @material_accent_color;
    }
    
    .uigrid {
        &:before {
            content: '';
            position: absolute;
            left: 0; top: 0; right: 0; bottom: 0;
            min-height: 100%;
            z-index: 1000;
            pointer-events: none;
            .baselinegrid(true, fade(@BaselineGrid, 20%));
        }
    }
}



// ---------------------------------------------------------- //
// GENERAL LAYOUT
// ---------------------------------------------------------- //
.wpx-container {
    position: relative;
    width: 100%;
    min-height: 100%;

    .wpx-container {
        &__inner {
            position: relative;
            display: flex;
            flex: 1 1 auto;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            max-width: 100%;
            // overflow: hidden;

            color: @wpx_bodycolor-100;
            padding: (@XUNIT * 1.625) 0 0;

            * {
                color: @wpx_bodycolor-100;
            }
        }
    }    

    .wpx-body {
        padding: (@XUNIT * .75);//(@XUNIT * 1.625) (@XUNIT * .75) (@XUNIT * .75);
        width: 100%;
        max-width: 100%;
    }    
}

#wpbody {
    @import "wpx_button.less";
}

// ---------------------------------------------------------- //
// HEADER
// ---------------------------------------------------------- //
#wpbody {
    @import "wpx_header.less";
}

// ---------------------------------------------------------- //
// NAVIGATION TABS
// ---------------------------------------------------------- //
#wpbody {
    @import "wpx_headernav.less";
}

// ---------------------------------------------------------- //
// TOOLBAR
// ---------------------------------------------------------- //
#wpbody {
    @import "wpx_toolbar.less";
}

// ---------------------------------------------------------- //
// BLOCKER
// ---------------------------------------------------------- //
@import "wpx_blocker.less";

// ---------------------------------------------------------- //
// TABLES
// ---------------------------------------------------------- //
#wpbody {
    @import "wpx_tables.less";
}

// ---------------------------------------------------------- //
// FORMS
// ---------------------------------------------------------- //
#wpbody {
    @import "wpx_forms.less";
}

// ---------------------------------------------------------- //
// CONTENT GROUPS
// ---------------------------------------------------------- //
#wpbody {
    @import "wpx_contentgroup.less";
}

// ---------------------------------------------------------- //
// IMAGE COLLECTION
// ---------------------------------------------------------- //
#wpbody {
    @import "wpx_imagecollection.less";
}

// ---------------------------------------------------------- //
// IMPORT UTILS
// ---------------------------------------------------------- //
#wpbody {
    @import "wpx_importutils.less";
}

// ---------------------------------------------------------- //
// CONTENT BUILDER
// ---------------------------------------------------------- //
// #wpbody {
//     @import "wpx_contentbuilder.less";
// }

// ---------------------------------------------------------- //
// THIRD PARTY
// ---------------------------------------------------------- //
#wpbody {
    @import (less) "../thirdparty/choices/styles/choices.css";
}

// ---------------------------------------------------------- //
// MESSAGES
// ---------------------------------------------------------- //
#wpbody {
    .wpx-messages {
        width: 100%;
        margin: (@XUNIT * .5) 0;
        padding: 0 (@XUNIT * .75);
        
        .wpx-messages {
            &__inner {
                p {
                    &:last-of-type {
                        .nomarginpadding();
                    }
                }
                a,
                a * {
                    color: @wpx_blue-50;
                }
            }
        }

        .wpx-message {
            padding: (@XUNIT * 0.3125) (@XUNIT * .5);
            border: 1px solid @wpx_blue-50;
            background-color: lighten(@wpx_blue-50, 50%);
            border-radius: 3px;
            overflow: hidden;
            width: 100%;

            &:nth-child(even) {
                margin-top: (@XUNIT * .25);
            }

            &_error {
                border-color: @wpx_danger-50;
                background-color: lighten(@wpx_danger-50, 45%);
            }

            &_warning {
                border-color: @wpx_warning-50;
                background-color: lighten(@wpx_warning-50, 45%);
            }

            &_notice {
                border-color: @wpx_info-50;
                background-color: lighten(@wpx_info-50, 45%);
            }

            &_success {
                border-color: #72c34b;
                background-color: #eaf6e4;
            }
    
        }

    }
}

// ---------------------------------------------------------- //
// DEBUG
// ---------------------------------------------------------- //
#wpbody {
    pre {
        &.wpx-debug {
            position: relative;
            width: 100%;
            max-height: 50vh;
            overflow: hidden;
            overflow-y: auto;
            white-space: pre-wrap;
            padding: (@XUNIT * 1.5) (@XUNIT * 1);
            border: 1px solid darken(@wpx_blue-100, 5%);
            background: @wpx_blue-100;
            color: @White;
            font-family: @MonoFonts;
            font-size: 12px;
            line-height: (@XUNIT * .5);
            text-align: left;

            &:before {
                position: absolute;
                left: 0; top: 0;
                z-index: 1;
                pointer-events: none;
                user-select: none;
                -ms-user-select: none;
                content: 'Debug';
                font-size: 10px;
                font-weight: 700;
                line-height: (@XUNIT * 1);
                text-transform: uppercase;
                color: @White;
                background: fade(darken(@wpx_blue-100, 5%), 50%);
                padding: 0 (@XUNIT * .5);
            }
        }
    }
}

// ---------------------------------------------------------- //
// ELEVATION CLASSES
// ---------------------------------------------------------- //
.wpx-elevation {
    .zDepthClasses(); 
}