// main: styles.less
@import (reference) "./config.less";
@import (reference) "./utils.less";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Document: typography.css */

// ---------------------------------------------------------- //
// MATERIAL ICON FONTS
// ---------------------------------------------------------- //
.md-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


// ---------------------------------------------------------- //
// TYPOGRAPHY
// ---------------------------------------------------------- //
#wpbody {
    font-size: 14px;
    line-height: @XUNIT;
    text-size-adjust: 100%;

    .md-icon {
        &:extend(.md-icon all);
    }

    h1, .h1, h2, .h2, h3, .h3, h4, h4, h5, .h5 {
        font-family: @SansFonts;
        font-weight: 400;
    }
    
    h1,
    .h1 {
        font-size: 36px;
        text-transform: uppercase;
        line-height: (@XUNIT * 2);
        margin-top: @XUNIT;
        margin-bottom: (@XUNIT * 1);
    }
    h2,
    .h2 {
        font-size: 32px;
        line-height: (@XUNIT * 2);
        margin-top: @XUNIT;
        margin-bottom: @XUNIT;
    }
    h3,
    .h3 {
        font-size: 21px;
        line-height: @XUNIT;
        margin-top: @XUNIT;
        margin-bottom: 0px;
    }
    h4,
    .h4 {
        font-size: 14px;
        line-height: @XUNIT;
        margin-top: @XUNIT;
        margin-bottom: 0px;
    }
    h5,
    .h5 {
        font-size: 14px;
        line-height: @XUNIT;
        margin-top: @XUNIT;
        margin-bottom: 0px;
    }
    p,
    ul,
    ol,
    pre,
    table,
    blockquote {
        margin-top: 0px;
        margin-bottom: @XUNIT;
    }
    ul ul,
    ol ol,
    ul ol,
    ol ul {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    /* Let's make sure all's aligned */
    hr,
    .hr {
        border: 1px solid;
        margin: -1px 0;
    }
    a,
    b,
    i,
    strong,
    em,
    small,
    code {
        // line-height: 0;
    }
    sub,
    sup {
        // line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    sup {
        top: -0.5em;
    }
    sub {
        bottom: -0.25em;
    }

    .wpx-typography,
    .wpx-typography-root {
        font-size: 14px;
        line-height: @XUNIT;
        text-size-adjust: 100%;
        color: @material_text_color_primary;
    }

    .wpx-typography {    
        &-h1,
        &-h2,
        &-h3,
        &-h4,
        &-h5,
        &-h6 {
            font-family: @SansFonts;
            font-weight: 300;
        }
    
        &-h1 {
            font-size: 6rem;
            line-height: 1;
            letter-spacing: -0.01562em;
        }
    
        &-h2 {
            font-size: 3.75rem;
            line-height: 1;
            letter-spacing: -0.00833em;
        }
    
        &-h3 {
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.04;
            letter-spacing: 0em;
        }
    
        &-h4 {
            font-size: 2.125rem;
            font-weight: 400;
            line-height: 1.17;
            letter-spacing: 0.00735em;
        }
    
        &-h5 {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.33;
            letter-spacing: 0em;
        }
    
        &-h6 {
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.6;
            letter-spacing: 0.0075em;
        }

        &-title,
        &-subheader {
            font-family: @SansFonts;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.43;
            letter-spacing: 0.01071em;            
        }

        &-subheader {
            color: @material_text_color_secondary;
        }
    
        &-subtitle {
            &-1,
            &-2 {
                font-family: @SansFonts;
                font-weight: 400;
            }
    
            &-1 {
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.75;
                letter-spacing: 0.00938em;        
            }
           
            &-2 {
                font-size: 0.875rem;
                font-weight: 500;
                line-height: 1.57;
                letter-spacing: 0.00714em;       
            }
        }
    
        &-body {
            &-1,
            &-2 {
                font-family: @SansFonts;
                font-weight: 400;
            }
    
            &-1 {
                font-size: 1rem;
                line-height: 1.5;
                letter-spacing: 0.00938em;
            }
    
            &-2 {
                font-size: 0.875rem;
                line-height: 1.43;
                letter-spacing: 0.01071em;
            }
        }
    
        &-button,
        &-caption,
        &-overline {
            font-family: @SansFonts;
        }
    
        &-button {
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.75;
            letter-spacing: 0.02857em;
            text-transform: uppercase;
        }
    
        &-caption {
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1.66;
            letter-spacing: 0.03333em;
        }
    
        &-overline {
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 2.66;
            letter-spacing: 0.08333em;
            text-transform: uppercase;
        }
    }
    
    
}