// main: styles.less

// ---------------------------------------------------------- //
// UNIT CONVERSION
// ---------------------------------------------------------- //
@base_px: 16;                   //set to the most common base px size used in browsers, should generally be left at default
@REM: (1 / @base_px) + 0rem;    //allows you to set values as the default px size to target, which is then converted into scalable rem values.
@EM: (1 / @base_px) + 0em;      //same as above, but with em values

.rem(@property;@value) {

    & when(ispixel(@value)) {
            @{property}: (unit(@value) * @REM);
    }
    & when(isunit(@value, rem)) {
            @{property}: @value;
    }

}

// ---------------------------------------------------------- //
// RESPONSIVE MIXINS
// ---------------------------------------------------------- //
.responsive(@MinWidth, @Rules) {
    @media screen and (min-width: @MinWidth) {
        @Rules();
    }
}

.responsive425(@Rules) {
    @media screen and (min-width: @MQ425) {
        @Rules();
    }
}

.responsive600(@Rules) {
    @media screen and (min-width: @MQ600) {
        @Rules();
    }
}

.responsive768(@Rules) {
    @media screen and (min-width: @MQ768) {
        @Rules();
    }
}

.responsive960(@Rules) {
    @media screen and (min-width: @MQ960) {
        @Rules();
    }
}
.responsive1024(@Rules) {
    @media screen and (min-width: @MQ1024) {
        @Rules();
    }
}
.responsive1280(@Rules) {
    @media screen and (min-width: @MQ1280) {
        @Rules();
    }
}
.responsive1440(@Rules) {
    @media screen and (min-width: @MQ1440) {
        @Rules();
    }
}
.responsive1600(@Rules) {
    @media screen and (min-width: @MQ1600) {
        @Rules();
    }
}

.responsive-max(@MaxWidth, @Rules) {
    @media screen and (max-width: @MaxWidth) {
        @Rules();
    }
}

.responsiveHeight(@MinHeight, @Rules) {
    @media screen and (min-height: @MinHeight) {
        @Rules();
    }
}

.responsiveHeightMax(@MaxHeight, @Rules) {
    @media screen and (max-height: @MaxHeight) {
        @Rules();
    }
}

.responsiveWidthHeight(@MinWidth, @MinHeight, @Rules) {
    @media screen and (min-width: @MinWidth)  and (min-height: @MinHeight) {
        @Rules();
    }
}

.root( @Rules ) {
    :root {
        @Rules();
    }
}

// ---------------------------------------------------------- //
// TRANSITIONS
// ---------------------------------------------------------- //
.transitionMany(...) {
        transition: @arguments;
}

.transition(@milliseconds:300ms) {
        transition: all @milliseconds ease;
}

.transition(@property, @milliseconds:300ms) {
        transition: @property @milliseconds ease;
}

.notransition() {
        transition: none;
}

.delay(@ms:64ms) {
        transition-delay:           @ms + 0ms;
}

.easeInOutBack(@duration:300ms) {
            transition: all @duration cubic-bezier(0.680, -0.550, 0.265, 1.550); // easeInOutBack
}

.easeInOutBack(@prop, @duration:300ms) {
            transition: @prop @duration cubic-bezier(0.680, -0.550, 0.265, 1.550); // easeInOutBack
}


// ---------------------------------------------------------- //
// TRANSFORMATIONS
// ---------------------------------------------------------- //
.translate (@x, @y:0) {
        transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
        transform: 		 translate3d(@x, @y, @z);
}

.transformOrigin (@x:center, @y:center) {
                    transform-origin:      @x @y;
}

.perspective (@value: 2600) {
                perspective: 		@value;
}

.scale (@factor) {
        transform: 		     scale(@factor);
}

.scaleX (@factor) {
        transform: 		     scaleX(@factor);
}

.scaleY (@factor) {
        transform: 		     scaleY(@factor);
}

.scale3d(@factor) {
            transform: scale3d(@factor, @factor, 1);    
}

.scale3dXY(@factorx, @factory) {
            transform: scale3d(@factorx, @factory, 1);    
}

.skew (@deg, @deg2) {
        transform: 		     skew(@deg, @deg2);
}

.rotate(@deg:0deg) {
        transform:          rotate(@deg);
}

.rotate-x(@deg:0deg) {
        transform:          rotateX(@deg);
}

.rotate-y(@deg:0deg) {
        transform:          rotateY(@deg);
}

.backface( @value:hidden ){
        backface-visibility:            @value;
}

// ---------------------------------------------------------- //
// POSITIONING
// ---------------------------------------------------------- //
.position(@x:0,@y:0) {
    .translate3d(@x, @y, 0);
}

.position(@x:0,@y:0,@z:0) {
    .translate3d(@x, @y, @z);
}

// ---------------------------------------------------------- //
// LAYOUT UTILS
// ---------------------------------------------------------- //
.boxmodel() {
            box-sizing: border-box;
}

.clear() {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.touchCallout(@value:none) {
    user-select: @value;
}

.noTouchScroll() {
    overflow: hidden;
    overflow-y: hidden;
}

// @see https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html
// -webkit-overflow-scrolling:: touch | auto | none (unsure)
.touchScroll() {
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

.userSelect(@val:none) {
    -webkit-user-select: @val;
    -moz-user-select: @val;
        -ms-user-select: @val;
            user-select: @val;
}

.block() {
    .boxmodel();
    display: block;
}

.hide() {
    display: none;
    visibility: hidden;
    pointer-events: none;
}

.hideVisually() {
    border: 0;
    clip-path: inset(50%);
    display: inline-block;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.show() {
    display: block;
    visibility: visible;
    pointer-events: auto;
}

.flexShow() {
    .flex();
    visibility: visible;
    pointer-events: auto;
}

.nomargin() {
    margin: 0;
}

.nopadding() {
    padding: 0;
}

.nomarginpadding() {
    margin: 0; padding: 0;
}

// ---------------------------------------------------------- //
// BOX SHADOW
// ---------------------------------------------------------- //
.BoxShadowHelper(@level: 1){
    & when (@level = 0) {
        box-shadow: none;
        //border: 1px solid fade(@material_divider_color, 0%);
    }
    & when (@level = 1) {
        //        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.26);
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    & when (@level = 2) {
        //        box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.26);
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    }
    & when (@level = 3) {
        //        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.26);
        box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    }
    & when (@level = 4) {
        //        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.26);
        box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
    }
    & when (@level = 5) {
        //        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.26);
        box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22), 0 27px 24px 0 rgba(0, 0, 0, 0.2);
    }
}

// ---------------------------------------------------------- //
// TYPOGRAPHY
// ---------------------------------------------------------- //
.fontFace( @font_name, @font_dir, @font_weight: 400 ) {
    font-family: @font_name;
    src:
        url('../fonts/@{font_dir}/@{font_name}.woff2?-y5g0yn') format('woff2'),
        url('../fonts/@{font_dir}/@{font_name}.woff?-y5g0yn') format('woff'),
        url('../fonts/@{font_dir}/@{font_name}.ttf?-y5g0yn') format('truetype');
    font-style:   normal;
    font-weight:  @font_weight;
}

.fontSrc( @font, @font_weight: 400 ) {
    src:
        url('../fonts/@{font}/@{font}.woff2?-y5g0yn') format('woff2'),
        url('../fonts/@{font}/@{font}.woff?-y5g0yn') format('woff'),
        url('../fonts/@{font}/@{font}.ttf?-y5g0yn') format('truetype');
    font-style:   normal;
    font-weight:  @font_weight;
}

.uiFontFace(@Rules) {
    @font-face {
        font-family: @BrandFonts;
        @Rules();
    }    
}

.optimizeText( @val: optimizelegibility ) {
    text-rendering: optimizelegibility;
}

.fontSize( @val ){
    .rem(font-size,@val);
}

.fontSizeSeries(@RulsetMobile, @RulesetDesktop, @RulesetXL) {
    @RulsetMobile();

    .responsive1280({
        @RulesetDesktop();
    });

    .responsive1920({
        @RulesetXL();
    });
}

.fontScale(@factor, @unit:px) {
    @return: unit(@XUNIT * @factor, @unit);
}

// REM ONLY
.font-rem (@size:@base-font-size) {
    font-size: 0px + @size;
    font-size: 0rem + @size / @base-font-size;
}

.lineHeight(@val) {
    .rem(line-height,@val);
}

.nowrap() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notext(@indent:150%) {
    text-align: left;
    text-indent: @indent;
    white-space: nowrap;
    overflow: hidden;
}


// ---------------------------------------------------------- //
// FLEX LAYOUT MIXINS
// @link https://gist.github.com/kenstone/5460000
// @link https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Backwards_Compatibility_of_Flexbox
// ---------------------------------------------------------- //
.flex() {
    display: flex;
}

.flex(@growshrink, @size) {
    flex: @growshrink @size;
}

.flex(@grow, @shrink, @basis) {
    .flex();
    .flexGS(@grow, @shrink);
    .flexBasis(@basis);
}

.flexDisplay(@display:flex) {
    display: flex;
}

.flexDisplay(@display) when( @display = inline-flex){
    display: inline-flex;
}

.flexJustify(@justifyStyle) {
    justify-content: @justifyStyle;
}

.flexDirection(@direction) {
    flex-direction: @direction;
}

.flexAlignItems(@align) {
    align-items: @align;
}

.flexAlignContent(@align) {
    align-content: @align;
}

.flexAlignSelf(@selfAlignStyle) {
    align-self: @selfAlignStyle;
}

.flexOrder(@order) {
    order:@order;
}

.flexBasis(@width: auto) {
    flex-basis: @width;
}

.flexSize(@size) {
    .flexBasis(@size);
    max-width: @size;
}

.flexWrap(@wrap) {
    flex-wrap:@wrap;
}

.flexGrow(@val) {
    flex-grow: @val;
}

.flexShrink(@val) {
    flex-shrink: @val;
}

.flexGS(@grow, @shrink) {
    .flexGrow(@grow);
    .flexShrink(@shrink);
}

.flexFlow(@direction,@wrap) {
    .flexDirection(@direction);
    .flexWrap(@wrap);
}

// ---------------------------------------------------------- //
// PADDING
// ---------------------------------------------------------- //
// SHORT-HAND: SINGLE
.padding( @val ) {
    .rem(padding,@val);
}

// SHORT-HAND: MULTIPLE - top, right, bottom, left
.padding(@t,@r,@b,@l) {
    padding: ~`(function(base) {
                var args = [].slice.call(arguments);
                var base = parseInt(args.shift(),10);
                var n, i= 0, units = [];

                while( (n = args.shift()) !== undefined ) {
                    units[i++] = n.match(/(px)/i) !== null ? parseFloat(n.replace(/([\D]+)/gi,' ')) / base + 'rem' : n;
                }

                return units.join(' ');
            })('@{base_px}','@{t}','@{r}','@{b}','@{l}')`;
}

// SHORT-HAND: MULTIPLE - left, top, right|bottom
.padding(@t,@r,@bl) {
    padding: ~`(function(base) {
                var args = [].slice.call(arguments);
                var base = parseInt(args.shift(),10);
                var n, i= 0, units = [];

                while( (n = args.shift()) !== undefined ) {
                    units[i++] = n.match(/(px)/i) !== null ? parseFloat(n.replace(/([\D]+)/gi,' ')) / base + 'rem' : n;
                }

                return units.join(' ');
            })('@{base_px}','@{t}','@{r}','@{bl}')`;
}

// SHORT-HAND: top|bottom right|left
.padding( @vertical, @horizontal ) {
    padding: ~`(function(base) {
                var args = [].slice.call(arguments);
                var base = parseInt(args.shift(),10);
                var n, i= 0, units = [];

                while( (n = args.shift()) !== undefined ) {
                    units[i++] = n.match(/(px)/i) !== null ? parseFloat(n.replace(/([\D]+)/gi,' ')) / base + 'rem' : n;
                }

                return units.join(' ');
            })('@{base_px}','@{vertical}','@{horizontal}')`;
}

// SUGAR
.paddingLeft(@val) {
    .rem(padding-left,@val);
}

.paddingTop(@val) {
    .rem(padding-top,@val);
}

.paddingRight(@val) {
    .rem(padding-right,@val);
}

.paddingBottom(@val) {
    .rem(padding-bottom,@val);
}


// ---------------------------------------------------------- //
// MARGIN
// ---------------------------------------------------------- //
// SHORT-HAND: SINGLE
.margin( @val ) {
    .rem(margin,@val);
}

// SHORT-HAND: MULTIPLE - top, right, bottom, left
.margin(@t,@r,@b,@l) {
    margin: ~`(function(base) {
                var args = [].slice.call(arguments);
                var base = parseInt(args.shift(),10);
                var n, i= 0, units = [];

                while( (n = args.shift()) !== undefined ) {
                    units[i++] = n.match(/(px)/i) !== null ? parseFloat(n.replace(/([\D]+)/gi,' ')) / base + 'rem' : n;
                }

                return units.join(' ');
            })('@{base_px}','@{t}','@{r}','@{b}','@{l}')`;
}

// SHORT-HAND: MULTIPLE - left, top, right|bottom
.margin(@t,@r,@bl) {
    margin: ~`(function(base) {
                var args = [].slice.call(arguments);
                var base = parseInt(args.shift(),10);
                var n, i= 0, units = [];

                while( (n = args.shift()) !== undefined ) {
                    units[i++] = n.match(/(px)/i) !== null ? parseFloat(n.replace(/([\D]+)/gi,' ')) / base + 'rem' : n;
                }

                return units.join(' ');
            })('@{base_px}','@{t}','@{r}','@{bl}')`;
}

// SHORT-HAND: top|bottom right|left
.margin( @vertical, @horizontal ) {
    margin: ~`(function(base) {
                var args = [].slice.call(arguments);
                var base = parseInt(args.shift(),10);
                var n, i= 0, units = [];

                while( (n = args.shift()) !== undefined ) {
                    units[i++] = n.match(/(px)/i) !== null ? parseFloat(n.replace(/([\D]+)/gi,' ')) / base + 'rem' : n;
                }

                return units.join(' ');
            })('@{base_px}','@{vertical}','@{horizontal}')`;
}

// SUGAR
.marginLeft(@val) {
    .rem(margin-left,@val);
}

.marginTop(@val) {
    .rem(margin-top,@val);
}

.marginRight(@val) {
    .rem(margin-right,@val);
}

.marginBottom(@val) {
    .rem(margin-bottom,@val);
}

.nomargin() {
    margin: 0;
}

.nopadding() {
    padding: 0;
}

.nomarginpadding() {
    margin: 0; padding: 0;
}

// ---------------------------------------------------------- //
// BORDERS
// ---------------------------------------------------------- //
.borderRadius( @radius: 50% ) {
        border-radius:          @radius;
}

.noborder() {
    border: none;
}

.borderWidth( @val: 0 ) {
    .rem(border-width, @val);
}

.gutter(@side, @val:0) {
    border-@{side}: @val solid transparent;
}

.gutterAll(@val:0) {
    border: @val solid transparent;
}

.gutters(@val) {
    .gutter(left, @val);
    .gutter(right, @val);
}

.guttersNone() {
    border-left-width: 0;
    border-right-width: 0;
}

.gutterNone(@side) {
    border-@{side}-width: 0;
}

.gutterNone(@side) when (@side = 'both') {
    .noborder();
}

.nooutline() {
    outline: none;
}



// ---------------------------------------------------------- //
// DIMENSIONS
// ---------------------------------------------------------- //
// HEIGHT
.height(@value) {
    & when(ispixel(@value)) {
        .rem(height,@value);
    }

    & when(isunit(@value, rem)) {
        height: @value;
    }
}

.minHeight(@value) {
    & when(ispixel(@value)) {
        .rem(min-height,@value);
    }

    & when(isunit(@value, rem)) {
        min-height: @value;
    }
}

.maxHeight(@value) {
    & when(ispixel(@value)) {
        .rem(max-height,@value);
    }

    & when(isunit(@value, rem)) {
        max-height: @value;
    }
}

// WIDTH
.width(@value) {
    & when(ispixel(@value)) {
        .rem(width,@value);
    }

    & when(isunit(@value, rem)) {
        width: @value;
    }
}

.minWidth(@value) {
    & when(ispixel(@value)) {
        .rem(min-width,@value);
    }

    & when(isunit(@value, rem)) {
        min-width: @value;
    }
}

.maxWidth(@value) {
    & when(ispixel(@value)) {
        .rem(max-width,@value);
    }

    & when(isunit(@value, rem)) {
        max-width: @value;
    }
}

.widthHeight(@w, @h) {
    .rem(width,@w);
    .rem(height,@h);
}

.widthHeight(@wh) {
    .rem(width,@wh);
    .rem(height,@wh);
}

// ---------------------------------------------------------- //
// RESPONSIVE MIXINS
// ---------------------------------------------------------- //
.responsive(@MinWidth, @Rules) {
    @media screen and (min-width: @MinWidth) {
        @Rules();
    }
}

.responsive425(@Rules) {
    @media screen and (min-width: @MQ425) {
        @Rules();
    }
}

.responsive600(@Rules) {
    @media screen and (min-width: @MQ600) {
        @Rules();
    }
}

.responsive768(@Rules) {
    @media screen and (min-width: @MQ768) {
        @Rules();
    }
}

.responsive960(@Rules) {
    @media screen and (min-width: @MQ960) {
        @Rules();
    }
}
.responsive1024(@Rules) {
    @media screen and (min-width: @MQ1024) {
        @Rules();
    }
}
.responsive1280(@Rules) {
    @media screen and (min-width: @MQ1280) {
        @Rules();
    }
}
.responsive1440(@Rules) {
    @media screen and (min-width: @MQ1440) {
        @Rules();
    }
}
.responsive1600(@Rules) {
    @media screen and (min-width: @MQ1600) {
        @Rules();
    }
}

.responsive1920(@Rules) {
    @media screen and (min-width: 1920px) {
        @Rules();
    }
}

.responsive2400(@Rules) {
    @media screen and (min-width: 2400px) {
        @Rules();
    }
}

// ---------------------------------------------------------- //
// MAX-WIDTH
// ---------------------------------------------------------- //
.responsiveMax425(@Rules) {
    @media screen and (max-width: @MQ425) {
        @Rules();
    }
}

.responsiveMax600(@Rules) {
    @media screen and (max-width: @MQ600) {
        @Rules();
    }
}

.responsiveMax768(@Rules) {
    @media screen and (max-width: @MQ768) {
        @Rules();
    }
}

.responsiveMax960(@Rules) {
    @media screen and (max-width: @MQ960) {
        @Rules();
    }
}
.responsiveMax1024(@Rules) {
    @media screen and (max-width: @MQ1024) {
        @Rules();
    }
}
.responsiveMax1280(@Rules) {
    @media screen and (max-width: @MQ1280) {
        @Rules();
    }
}
.responsiveMax1440(@Rules) {
    @media screen and (max-width: @MQ1440) {
        @Rules();
    }
}
.responsiveMax1600(@Rules) {
    @media screen and (max-width: @MQ1600) {
        @Rules();
    }
}

.responsiveMaxCustom(@MaxWidth, @Rules) {
    @media screen and (max-width: @MaxWidth) {
        @Rules();
    }
}

.responsiveHeight(@MinHeight, @Rules) {
    @media screen and (min-height: @MinHeight) {
        @Rules();
    }
}

.responsiveWidthHeight(@MinWidth, @MinHeight, @Rules) {
    @media screen and (min-width: @MinWidth)  and (min-height: @MinHeight) {
        @Rules();
    }
}

// ---------------------------------------------------------- //
// GRADIENTS
// ---------------------------------------------------------- //
.gradient (@startColor: #eee, @endColor: @White) {
    background-color: @startColor;
    background: linear-gradient(to bottom, @startColor, @endColor);

}

.gradientDiagonal (@startColor: #eee, @endColor: @White, @deg: -45deg) {
    background: @startColor;
    background: linear-gradient(@deg, @startColor 0%, @endColor 100%);
}

.gradientHorizontal (@startColor: #eee, @endColor: @White) {
    background: @startColor;
    background: linear-gradient(0deg, @startColor 0%, @endColor 100%);
}

.cardShadowHelper(@size: 0) {
    & when (@size = 0) {
        box-shadow: 0 2px 6px 0 rgba(33,35,68,.05);
    }
    & when (@size = 1) {
        box-shadow: 0 2px 10px 0 rgba(33,35,68,.05);
    }
    & when (@size = 2) {
        box-shadow: 0 2px 14px 0 rgba(33,35,68,.05);
    }
    & when (@size = 3) {
        box-shadow: 0 2px 24px 0 rgba(33,35,68,.05);
    }
}

// ---------------------------------------------------------- //
// HYPHENATION
// ---------------------------------------------------------- //
.hyphens( @val: auto ) {
    hyphens: @val;
}

// ---------------------------------------------------------- //
// BASELINE GRID
// ---------------------------------------------------------- //
.baselinegrid(@asbg, @color:@BaselineGrid, @size: @typography_baselineheight) when (true) {
    background-size: @size @size;
    background: linear-gradient(@color 1px, transparent 1px) repeat left top / @size @size;
}

// ---------------------------------------------------------- //
// BUTTON RESET
// ---------------------------------------------------------- //
.buttonReset() {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;

    border: none;
    border-radius: 0;
    .nomarginpadding();

    text-decoration: none;
    text-align: center;
    .optimizeText();

    background: transparent;

    font-family: @BrandFonts;
    font-size: 1rem;
    cursor: pointer;

    .transition();

    &:hover,
    &:focus {
        background: transparent;
        color: @material_text_color_primary;
        outline: none;
    }
    
    &:focus {
        outline: 1px solid transparent;
        outline-offset: -4px;
    }
    
    &:active {
        // transform: scale(0.99);
    }
}

.buttonNoAppearance() {
    border: none;
    border-radius: 0;
    .nomarginpadding();
    width: auto;
    overflow: visible;

    background: transparent;

    // inherit font & color from ancestor
    color: inherit;
    font: inherit;
    line-height: inherit;
    outline: none;
    border: none;

    // Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    // Corrects inability to style clickable `input` types in iOS
    -webkit-appearance: none;
    
    // Remove excess padding and border in Firefox 4+
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

.inputNoAppearance() {
    border: none;
    border-radius: 0;
    .nomarginpadding();
    width: auto;
    overflow: visible;

    background: transparent;

    // inherit font & color from ancestor
    color: inherit;
    font: inherit;
    line-height: inherit;
    outline: none;
    border: none;

    // Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
    line-height: normal;
    
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    // Corrects inability to style clickable `input` types in iOS
    -webkit-appearance: none;
    
    // Remove excess padding and border in Firefox 4+
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

// ---------------------------------------------------------- //
// PLACEHOLDER TEXT
// ---------------------------------------------------------- //
.placeholder(@Rules) {
    &::-webkit-input-placeholder {
        @Rules();
    }
    &::-moz-placeholder {
        @Rules();
    }
    &:-ms-input-placeholder {
        @Rules();
    }
    &:-moz-placeholder {
        @Rules();
    }
}

// ---------------------------------------------------------- //
// MATERIAL DESIGN ELEVATION
// ---------------------------------------------------------- //
// @https://github.com/mrmlnc/material-shadows

.zDepthTransition() {
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
}

.zDepthFocus() {
    box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
}

.zDepth2dp() {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .07),
                0 1px 5px 0 rgba(0, 0, 0, .06),
                0 3px 1px -2px rgba(0, 0, 0, .2);
}

.zDepth3dp() {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .07),
                0 1px 8px 0 rgba(0, 0, 0, .06),
                0 3px 3px -2px rgba(0, 0, 0, .2);
}

.zDepth4dp() {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .07),
                0 1px 10px 0 rgba(0, 0, 0, .06),
                0 2px 4px -1px rgba(0, 0, 0, .2);
}

.zDepth6dp() {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .07),
                0 1px 18px 0 rgba(0, 0, 0, .06),
                0 3px 5px -1px rgba(0, 0, 0, .2);
}

.zDepth8dp() {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .07),
                0 3px 14px 2px rgba(0, 0, 0, .06),
                0 5px 5px -3px rgba(0, 0, 0, .2);
}

.zDepth16dp() {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .07),
                0  6px 30px 5px rgba(0, 0, 0, .06),
                0  8px 10px -5px rgba(0, 0, 0, .2);
}

.zDepth24dp() {
    box-shadow: 0  9px 46px  8px rgba(0, 0, 0, .07),
                0 24px 38px  3px rgba(0, 0, 0, .06),
                0 11px 15px -7px rgba(0, 0, 0, .2);
}

.zDepth(@dp: 2) {
    & when (@dp = 2) { .zDepth2dp(); }
    & when (@dp = 3) { .zDepth3dp(); }
    & when (@dp = 4) { .zDepth4dp(); }
    & when (@dp = 6) { .zDepth6dp(); }
    & when (@dp = 8) { .zDepth8dp(); }
    & when (@dp = 16) { .zDepth16dp(); }
    & when (@dp = 24) { .zDepth24dp(); }
}


// Class generator
// ------------------------------------

.zDepthClasses(@transition: false, @focus: false) {
    &-transition when (@transition = true) {
        .zDepthTransition();
    }

    &-focus when (@focus = true) {
        .zDepthFocus();
    }

    // The available values for the shadow depth
    @list: 2, 3, 4, 6, 8, 16, 24;

    .generateShadowClass(@i: 1, @count) when (@i =< @count) {
        @depth: extract(@list, @i);

        &-@{depth}dp {
            .zDepth(@depth);
        }

        .generateShadowClass(@i + 1, @count);
    }

    .generateShadowClass(1, 7);
}