// out: ../css/wpx_acf.css
@charset "utf-8";
@import "config.less";
@import "utils.less";

/* Document: wpx_acf.css */

// ---------------------------------------------------------- //
// ACF
// ---------------------------------------------------------- //
.acf-field {
    &.wpx-fieldgroup {
        &.wpx-amenities {
            .acf-input {
                max-height: (@XUNIT * 10);
                .touchScroll();
            }
        }
    }
}