// main: styles.less
@charset "utf-8";
@import (reference) "config.less";
@import (reference) "utils.less";

/* Document: wpx_table.css */

// ---------------------------------------------------------- //
// HEADER NAV
// ---------------------------------------------------------- //
.wpx-tablecontainer {
    display: flex;
    margin: 0 ((@XUNIT * .75) * -1);
    position: relative;
    overflow: visible;
}

.wpx-columns {
    min-width: (@XUNIT * 4); 

    &:first-of-type {
        padding-left: (@XUNIT * .75);
        .responsive960({
            max-width: 33.333%;
        });
    }

    &:last-of-type {
        padding-right: (@XUNIT * .75);
    }
        
    &[colinfo],
    &.colinfo {
        width: (@XUNIT * 4); 
        max-width: (@XUNIT * 4); 
    }

    &[colsecondary],
    &[data-size="colsecondary"],
    &.colsecondary {
        width: (@XUNIT * 8); 
    }

    &[colaction],
    &[data-size="colaction"],
    &.colaction {
        width: (@XUNIT * 2); 
        min-width: (@XUNIT * 2); 
        max-width: (@XUNIT * 2); 
        padding-left: 0;
        text-align: right;

        &.wpx-tableactions {
        }
    }
}

.wpx-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    
    &_fixed {
        table-layout: fixed;
    }

    &.wpx-table {
        &_draggable {
            tbody {
                tr {
                    td {
                        .userSelect();
                    }
                }
            }
        }
    }

    td {
        vertical-align: top;
    }

    tr {
        &.hidden {
            display: none;
        }
    }

    thead, tbody, tfoot, caption {
        color: @wpx_bodycolor-100;
        font-size: (@XUNIT * 0.375);
        font-weight: 400;
    }

    thead {
        td, th {
            .wpx-columns;
            
            text-transform: uppercase;
            font-weight: 200;
            text-align: left;
            padding: 0 (@XUNIT * .5);

            &.wpx-table {
                &__heading {
                    h2 {
                        font-size: (@XUNIT * .5625);
                        font-weight: 300;
                        line-height: (@XUNIT * .75);
                        text-transform: capitalize;
                        .nomarginpadding();
                    }
                }
    
                &__controls {
                    text-align: right;
                    text-transform: none;
                }
                
                &__heading,
                &__controls {
                    padding-bottom: @XUNIT;
                }
    
                &__search,
                &__actions {
                    text-align: right;
                    padding: 0 (@XUNIT * .75) @XUNIT;

                    input {
                        min-width: @XUNIT * 8;
                    }
                }
                
                &__actions {
                    
                }
            }

            &[data-tsorter] {
                position: relative;
                cursor: pointer;
                user-select: none;
                -ms-user-select: none;

                &:after {
                    &:extend(.md-icon all);

                    content: 'arrow_drop_down';
                    display: inline-block;
                    width: @XUNIT;
                    height: @XUNIT;
                    line-height: @XUNIT;
                    text-align: center;

                    position: absolute;
                    right: 0; top: 0;
                    pointer-events: none;
                    user-select: none;
                    -ms-user-select: none;

                }

                &.descend {
                    &:after {
                        content: 'arrow_drop_up';
                    }
                }

                &.ascend,
                &.descend {
                    &:after {
                        color: @wpx_accent-50;
                    }
                }
            }
 
        }
    }

    tfoot {
        td, th {
            line-height: (@XUNIT * 1.625);
            font-weight: 200;
            padding: 0 (@XUNIT * .75);
            
            &:last-of-type {
                text-align: right;
            }
        }
    }

    tbody {
        background: @White;
        border-bottom: 1px solid @wpx_border-50;

        &.wpx_tbody_transparent {
            background: none;
            border: none;
        }

        tr {
            &.wpx_tablerow {
                .wpx_tablerow {
                    &__link {
                        font-weight: 600;
                    }
                }

                &_clickable {
                    cursor: pointer;
                }

                &_container {
                    background: none;
                    background-color: transparent !important;

                    td {
                        border: none;
                        
                    }

                    &:hover,
                    &:active {
                        background-color: transparent !important;
                    }
                }

                &.drag-image {
                    display: table;
                    opacity: .75;
                    td {
                        .wpx-columns;
                        border-bottom: 1px solid @wpx_border-50;
                    }
                }

                .transition();
                transition-property: background-color;
                
                &:hover,
                &:active {
                    background-color: @wpx_background-75;
                }
            }

        }

        td {
            &:not([colaction]) {
                min-width: (@XUNIT * 4); 
            }


            border-top: 1px solid @wpx_border-50;
            padding: (@XUNIT * .5);

            a {
                color: @wpx_bodycolor-100;
                
                &:hover,
                &:active {
                    color: @wpx_blue-50;
                }
            }

            nobr {
                max-width: (@XUNIT * 8);
            }

            &:first-of-type {
                padding-left: (@XUNIT * .75);
                // min-width: (@XUNIT * 8); 
            }

            &:last-of-type {
                padding-right: (@XUNIT * .75);
            }

            &.colaction {
                padding-left: 0;
                text-align: right;
            }

            .colnowrap {
                .nowrap();
                display: block;
                max-width: (@XUNIT * 8);
            }

            &.colnowrap {
                .nowrap();
            }

        }
    }
}


// ---------------------------------------------------------- //
// TABLE ACTIONS
// ---------------------------------------------------------- //
.wpx-tableactions {
    position: relative;
}

.wpx-tableaction {
    position: relative;
    z-index: 1;
    .inputNoAppearance();
    background-color: transparent;
    .nomarginpadding();
    padding: 6px;
    border-radius: 3px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .md-icon {
        width: (@XUNIT * .75);
        height: (@XUNIT * .75);
        line-height: (@XUNIT * .75);    
        font-size: (@XUNIT * .5);
        .userSelect();
    }

    .transition();
    transition-property: background-color;

    &:hover,
    &:active {
        background-color: fade(@wpx_border-50, 50%);
    }

    &:active {

        + .wpx-tableactionlist {
            .cardShadowHelper(1);
            z-index: 2;
            visibility: visible;
        }
    }
}

.wpx-tableactionlist {
    position: absolute;
    z-index: -1;
    visibility: hidden;

    right: (@XUNIT * .75); top: (@XUNIT * .5);

    list-style: none;
    background: @White;
    border-radius: 3px;
    border: 1px solid lighten(@wpx_border-50, 12%);
    overflow: hidden;

    min-width: (@XUNIT * 4);
    padding: (@XUNIT * .5) 0;
    .cardShadowHelper(0);

    .wpx-tableactionlist {

        &__item,
        &__link {
            line-height: @XUNIT;
            font-size: 14px;
            .nomargin();
            font-size: 13.5px;
            cursor: pointer;
        }

        &__item {

        }

        &__link {
            flex: 0 0 auto;
            width: 100%;

            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;

            background: transparent;
            padding: 0 (@XUNIT * .5);
            

            .md-icon {
                font-size: (@XUNIT * .5);
            }

            span {
                pointer-events: none;
            }

            &:hover,
            &:active {
                background-color: @wpx_background-50;
            }            

        }

        &__label {
            padding: 0 0 0 (@XUNIT * .25);
        }
    }    

    &:hover,
    &:active {
        .cardShadowHelper(1);
        z-index: 2;
        visibility: visible;
    }
}