// main: styles.less
@charset "utf-8";
@import "config.less";
@import "wpx_button.less";

/* Document: wpx_imagecollection.css */

// ---------------------------------------------------------- //
// IMAGE COLLECTION
// ---------------------------------------------------------- //
.wpx-imagecollection {
    display: flex;
    flex-flow: row wrap;
    // align-items: flex-start;
    justify-content: flex-start;
    .wpx-paper {
        flex: 1 1 auto;
        max-width: 24%;
        margin: .5%
    }
}

// ---------------------------------------------------------- //
// MATERIAL COMPONENTS
// ---------------------------------------------------------- //

.wpx-paper-root {
    color: @material_text_color_primary;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: @White;    
}

.wpx-paper {
    background: @White;
    
    &-rounded {
        border-radius: 4px;
    }

    &-elevation {
        .zDepthClasses(); 
    }
}

.wpx-card-root {

}

.wpx-card {
    &header {
        &-root {
            position: relative;
            display: flex;
            padding: 16px;
            align-items: center;
        }

        &-content {
            display: flex;
            color: @material_text_color_primary;
            flex: 1 1 auto;
            flex-flow: row wrap;
            
            .wpx-typography {
                &-title,
                &-subheader {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }

        &-action {
            flex: 0 0 auto;
            align-self: flex-start;
            margin-top: -8px;
            margin-right: -8px;

            .wpx-md-button {
                position: relative;
                z-index: 1;
                + .wpx-tableactionlist {
                    right: (@XUNIT * .25);
                    top: 24px;
                    li[data-action="delete"] {
                        display: none;
                        pointer-events: none;
                    }
                }

                &:focus,
                &:active {
                    + .wpx-tableactionlist {
                        .zDepth8dp();
                        z-index: 2;
                        visibility: visible;
                        // pointer-events: auto;
                    }
                }
            }
        }
    }

    &media {
        &-root {
            position: relative;
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;            
        }

        &-16-9,
        &-4-3 {
            height: 0;

            img {
                position: absolute;
                left: 0; top: 0;

                display: block;
                width: 100%; 
                height: auto;
                @supports (object-fit: cover) {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-16-9 {
            padding-top: 56.25%;
        }

        &-4-3 {
            padding-top: 75%;
        }

        img {
            pointer-events: none;
        }
    }

    &content {
        &-root {
            padding: (@XUNIT * .5);
        }

        .wpx-typography {
            &-body {
                &-1,
                &-2 {
                    width: 100%;
                }

                &-2 {
                    color: @material_text_color_secondary;
                }
            }
        }

        p {
            &:last-of-type {
                .nomargin();
            }
        }
    }

    &-content {
        &-root {
            color: @material_text_color_primary;
            flex: 1 1 auto;
        }
    }

    &-action {
        flex: 0 0 auto;
        align-self: flex-start;
        margin-top: -8px;
        margin-right: -8px;
    }
}
