// main: styles.less
@charset "utf-8";
@import "config.less";
@import "normalize.less";
@import "typography.less";
@import (reference) "wpx_button.less";

/* Document: wpx_toolbar.css */

// ---------------------------------------------------------- //
// HEADER NAV
// ---------------------------------------------------------- //
.wpx-toolbar,
.wpx-toolbar__inner {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.wpx-toolbar {
    flex: 0 0 auto;

    .wpx-toolbar {
        &__inner {
            justify-content: space-between;
            padding: (@XUNIT * .5) (@XUNIT * .75);
        }
    }
}