// main: styles.less
@charset "utf-8";
@import "config.less";
@import "normalize.less";
@import "typography.less";

/* Document: wpx_button.css */

// ---------------------------------------------------------- //
// BUTTON
// ---------------------------------------------------------- //
.wpx-buttoncontainer {
    display: flex;
}

.wpx-button {
    color: @wpx_green-50;
    background: transparent;
    border-radius: 3px;
    border: 1px solid @wpx_green-50;

    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 auto;
    align-items: center;
    justify-content: flex-start;

    padding: 0 (@XUNIT * .5) 0 (@XUNIT * .25);
    line-height: @XUNIT;        
    height: @XUNIT;        
    cursor: pointer;

    .transition();
    transition-property: color, background-color, border-color;

    .md-icon {
        flex: 0 0 (@XUNIT * .5);
        font-size: (@XUNIT * .5);
        line-height: (@XUNIT * .5);
        width: (@XUNIT * .5);                  
    }

    &_icon {
        padding: 0 (@XUNIT * .25);
    }

    &__label {
        flex: 0 0 auto;
        padding: 0 0 0 (@XUNIT * .25);
    }

    * {
        color: @wpx_green-50;
    }

    // TYPE: PRIMARY (GREEN)
    &_primary {
        background: @wpx_green-50;
        color: @White;

        * {
            color: @White;
        }

        &:hover,
        &:active {
            background-color: @wpx_green-100;
            border-color: @wpx_green-100;
        }
    }

    // TYPE: CRTITICAL (RED)
    &_critical {
        background: transparent;
        border-color: transparent;
        color: @wpx_red-50;

        * {
            color: @wpx_red-50;
        }

        &:hover,
        &:active {
            background-color: @wpx_red-50;
            border-color: @wpx_red-50;
            color: @White;
        }
    }
}

.wpx-md-button {
    &--root {
        color: inherit;
        border: 0;
        cursor: pointer;
        margin: 0;
        display: inline-flex;
        outline: 0;
        padding: 0;
        position: relative;
        align-items: center;
        user-select: none;
        border-radius: 0;
        vertical-align: middle;
        -moz-appearance: none;
        justify-content: center;
        text-decoration: none;
        background-color: transparent;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;        
    }

    .md-icon {
        pointer-events: none;
    }

    &.wpx-md-button {
        &_icon {
            flex: 0 0 auto;
            color: rgba(0, 0, 0, 0.54);
            padding: 12px;
            overflow: visible;
            font-size: 1.5rem;
            text-align: center;
            transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            border-radius: 50%;
        }

        &_text {
            color: @material_text_color_primary;
            padding: 6px 16px;
            font-size: 0.875rem;
            min-width: 64px;
            box-sizing: border-box;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            font-family: @SansFonts;
            font-weight: 500;
            line-height: 1.75;
            border-radius: 4px;
            letter-spacing: 0.02857em;
            text-transform: uppercase;            
        }
    }
}