// main: styles.less
@charset "utf-8";
@import "config.less";

/* Document: wpx_header.css */

// ---------------------------------------------------------- //
// HEADER
// ---------------------------------------------------------- //
.wpx-header {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    height: (@XUNIT * 1.625);
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    max-width: 100%;
    padding: 0 (@XUNIT * .75);
    background: @wpx_background-100;
    overflow: hidden;

    
    &:after {
        content: '';
        position: absolute;
        left: 0; bottom: 0; right: 0;
        z-index: 1;
        height: 0;
        border-top: 1px solid @wpx_border-50;
        pointer-events: none;
    }

    .wpx-header {
        &__heading {
            position: relative;
            z-index: 2;
            .nomargin();
            line-height: (@XUNIT * 1.625);
            font-weight: 400;
            font-size: (@XUNIT * .5);
            text-transform: none;
            flex: 0 0 auto;

            display: flex;
            flex-flow: row nowrap;
            align-content: center;
        }

        &__label {
            margin-right: (@XUNIT * .5);
            position: relative;

            &:last-of-type {
                margin-right: 0;
            }

            &:after {
                // content: '/';
                position: absolute;
                right: 0; top: 0;
                line-height: (@XUNIT * 1.625);
                height: (@XUNIT * 1.625);
                font-weight: 100;
                font-size: inherit;

                pointer-events: none;
                user-select: none;
                -ms-user-select: none;
                opacity: 0;
            }

            &_index {
                opacity: .5;
                pointer-events: none;
                padding-right: (@XUNIT * .5);
                margin-right: (@XUNIT * .25);
                font-weight: 100;
                
                &:after {
                    content: '/';
                    opacity: .35;

                }
            }
        }

        &__backbutton {
            line-height: (@XUNIT * 1.625);
            display: flex;
            flex-flow: row nowrap;
            flex: 0 0 (@XUNIT * .75);
            align-items: center;
            margin-right: (@XUNIT * .125);

            &:focus,
            &:hover,
            &:active {
                box-shadow: none;

                .md-icon {
                    .position(-8px,0);
                }
            }

            .md-icon {
                line-height: 1;
                .transition();
                transition-property: transform;
                .position(0,0);
            }
        }
        
    }
}
