// main: styles.less
@charset "utf-8";
@import "config.less";

/* Document: wpx_headernav.css */

// ---------------------------------------------------------- //
// HEADER NAV
// ---------------------------------------------------------- //
.wpx-headernav {
    position: relative;
    z-index: 2;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    overflow: hidden;

    &_right {
        margin-left: auto;
        align-self: flex-end;
    }
}

.wpx-navtabs {

    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    .nomarginpadding();
    height: (@XUNIT * 1.625);
    line-height: (@XUNIT * 1.625);

    .wpx-navtabs {
        &__item,
        &__link {
            display: flex;
            flex-flow: row nowrap;
            position: relative;
            .nomarginpadding();
            color: @wpx_bodycolor-50;
            font-size: 13.5px;
            line-height: (@XUNIT * 1.625);
            overflow: hidden;
            cursor: pointer;
        }

        &__item {
            .transition();
            transition-property: border-color;
            margin-left: (@XUNIT * .25);

            &:first-of-type {
                margin-left: 0;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0; bottom: 0; right: 0;
                z-index: 2;
                height: 0;
                border-top: 2px solid transparent;
                pointer-events: none;
                .transition();
                .position(-102%,0);
                transition-property: border-color, transform;
            }


            &:hover,
            &:active {
                &::after {
                    border-color: @wpx_border-100;
                    .position(0,0);
                }
            }


            &_current {
                &:hover,
                &:active {
                    &:after {
                        border-color: @wpx_border-100;
                        .position(0,0);
                    }                        
                }

                &:after {
                    border-color: @wpx_border-100;
                    .position(0,0);
                }
            }

        }

        &__link {
            z-index: 1;
            padding: 0 (@XUNIT * 0.125);
        }
    }

}

// ---------------------------------------------------------- //
// TAB PANELS
// ---------------------------------------------------------- //
.wpx-navtabpanel {
    display: flex;
    flex-flow: column nowrap;
    .backface(none);

    > * {
        widows: 100%;
    }

    &:not( .wpx-navtabpanel_current ) {
        display: none;
    }
}