// main: styles.less
@charset "utf-8";
@import "config.less";

/* Document: wpx_blocker.css */

// ---------------------------------------------------------- //
// BUTTON
// ---------------------------------------------------------- //
body {
    &.wpx-noscroll {
        overflow: hidden !important;
    }
}

.wpx-blocker {
    position: fixed;
    left: 0; top: 0;
    z-index: 10000;
    display: none;
    flex-flow: row nowrap;        

    width: 100%; height: 100%;

    .wpx-blocker {
        &__inner {

            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            width: 100%; height: 100%;

            background: fade(@wpx_blue-100, 64%);

            img {
                .block();
                flex: 0 0 auto;
                width: @XUNIT * 2;
                max-width: 100%;
                max-height: 100%;


                .nomarginpadding();
                pointer-events:  none;
                user-select: none;
                -ms-user-select: none;
            }
        }
    }

    &[data-state="active"] {
        display: flex;
        visibility: visible;
    }
}