// main: styles.less
@charset "utf-8";
@import "config.less";
@import "wpx_button.less";

/* Document: wpx-forms.css */

// ---------------------------------------------------------- //
// FORMS
// ---------------------------------------------------------- //
.wpx-tableactions-container,
.wpx-searchcontainer {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

.wpx-searchcontainer {    
    .wpx-search {
        display: flex;
        flex: 0 0 auto;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        &__field {
            font-size: 13px;        
            font-weight: 400;
            color: @wpx_bodycolor-50;
            line-height: @XUNIT;
            height: @XUNIT;
        
            background-color: @White;
            box-shadow: none;
            padding: 0 (@XUNIT * 0.25);

            border: 1px solid @wpx_border-50;    

            &[data-mode="filter"] {
                border-radius: 3px;
            }

            &[data-mode="search"] {
                border-radius: 3px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right-width: 0;
            }
        
            &:focus {
                border-color: @wpx_blue-50;
            }
        
            .placeholder({
                color: fade(@wpx_bodycolor-50,87%);
                font-style: italic;
            });
        }

        &__button {
            .inputNoAppearance();
            border: 1px solid @wpx_border-50;    
            border-radius: 3px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            color: @wpx_bodycolor-50;
            line-height: @XUNIT;
            height: @XUNIT;

            display: flex;
            display: flex;
            flex: 0 0 auto;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            
            padding: 0 (@XUNIT * .25) 0 (@XUNIT * .125);

            .transition();
            transition-property: background-color;

            cursor: pointer;

            .md-icon {
                height: (@XUNIT - 2px);
                width: (@XUNIT - 2px);
                line-height: (@XUNIT - 2px);
                text-align: center;
            }

            &:hover,
            &:active {
                background: @wpx_border-50;
            }
        }

        &__buttonlabel {
            line-height: (@XUNIT - 2px);
        }
    }
}

.wpx-tableactions-container {

}

form {

    label, input, textarea, select {
        font-size: 13px;        
        font-weight: 400;
        color: @wpx_bodycolor-50;
    }

    input:not([type="hidden"]):not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]),
    textarea,
    select {
        border-radius: 3px;
        border: 1px solid @wpx_border-50;
        background-color: @White;
        box-shadow: none;
        padding: 0 (@XUNIT * 0.25);


        &[disabled],
        &[readonly] {
            opacity: .5;
            pointer-events: none;
            max-width: 20%;
            // border-style: dashed;
            border-color: fade(@wpx_border-50, 50%); 
        }        

        &:focus {
            border-color: @wpx_blue-50;
        }
    }

    input:not([type="hidden"]):not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]),
    select {
        line-height: @XUNIT;
        height: @XUNIT;

        .placeholder({
            color: fade(@wpx_bodycolor-50,87%);
            font-style: italic;
        });
    }

    textarea {
        min-height: @XUNIT;
        resize: vertical;
        padding: (@XUNIT * 0.25);

        &[readonly] {
            opacity: .5;
            pointer-events: none;
        }
    }    

    &.wpx-form,
    &.wpx-form .wpx-form__inner {
        position: relative;
        display: flex;
    }

    &.wpx-form {
        display: flex;
        margin: 0 ((@XUNIT * .75) * -1);
        position: relative;
        overflow: visible;

        .wpx-form {
            &__inner {
                width: 100%;
                max-width: 100%;
                flex-flow: column nowrap;
                align-content: flex-start;
                align-items: flex-start;
            }
        }
    }

    .field {
        padding: 0 (@XUNIT * .75);
        width: 100%;
        margin: 0 0 (@XUNIT * .5);

        .field {
            &__inner,
            &__label {
                display: flex;
                flex-flow: row nowrap;
                align-content: center;
                justify-content: flex-start;
                width: 100%;
            }

            &__inner {
                padding: (@XUNIT * .5) 0;
                border-bottom: 1px solid @wpx_border-50;
            }

            &__label {

                &_inner {
                    flex: 0 0 25%;

                    + input:not([type="hidden"]):not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]),
                    + .field__inputwrapper {
                        flex: 1 1 auto;
                        max-width: 50%;
                    }
                    + .field__inputwrapper {
                        display: flex;
                        flex-flow: row nowrap;

                        input:not([type="hidden"]):not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]) {
                            flex: 1 1 auto;
                        }

                        .wpx-buttoncontainer {
                            flex: 0 0 auto;
                            margin-left: (@XUNIT * .5);
                            
                            .wpx-button {
                                margin-left: (@XUNIT * .25);
                                &:first-of-type {
                                    margin-left: 0;
                                }
                            }
                        }
                    }

                    + input:not([type="hidden"]):not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]) {

                        &[type="date"] {
                            max-width: 25%;
                        }

                        &[type="text"] {
                            &.wpx-slugurlpreview {
                                // margin-bottom: @XUNIT;
                            }
                        }

                        &.wpx-datepicker {
                            max-width: (25% * .5);
                            background: @White url('../images/icons/baseline-date_range-24px.svg') no-repeat 8px center / auto 16px;
                            padding-left: (@XUNIT * 1);
                            cursor: pointer;

                            &_range {
                                max-width: 25%;
                            }
                        }
                    }
                }
            }
        }

        .wpx-slugurlpreviewcontainer {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: flex-start;
            flex: 0 0 100%;
            overflow: hidden;
            max-width: 50%;

            input[type="text"],
            a {
                flex: 0 0 100%;
            }

            a {
                line-height: @XUNIT;
                max-width: 100%;

                span {
                    .transition();
                    transition-property: color;
                }

                &:hover,
                &:active {
                    span {
                        color: @wpx_blue-50;
                    }
                }
            }
        }

        // TEXTAREA + SELECT
        &.textarea,
        &.select {
            .field {
                &__inner {
                    .wp-editor-container {
                        textarea {
                            flex:  1 1 auto;
                            width: 100%;
                            border: none;
                            border-radius: 0;
                        }
                    }    
                }
    
                &__label {
                    width: auto;
                    flex: 0 0 25%;
                    .nopadding();

                    &_inner {
                        flex: 0 0 100%;
                    }

                    + .wp-editor-wrap,
                    + textarea,
                    + select {                        
                        max-width: 50%;
                    }
                    
                    + .wp-editor-wrap,
                    + textarea {
                        flex: 1 1 auto;
                    }
                    + select {
                        flex: 0 0 25%;
                    }
                }
            }
        }

        &.text,
        &.select {
            .choices {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        
        &.media {
            .field {
                &__inner {

                }

                &__label {
                    width: auto;
                    flex: 0 0 25%;

                    &_inner {
                        flex: 0 0 100%;
                    }

                    + .wpx-mediaupload {
                        flex: 1 1 auto;
                        max-width: 50%;
                    }
                }

            }
        }

        &.map {
            .field {
                &__inner {
                    input {
                        &[name="map_coordinates"] {
                            margin-left: (@XUNIT * .25);
                            border-color: @wpx_blue-100;
                        }

                        &[disabled],
                        &[readonly] {
                            opacity: .5;
                            pointer-events: none;
                            max-width: 20%;
                        }
                    }

                    &:not(.wpx-mapcontainer) {
                        border-bottom: none;
                    }

                    &.wpx-mapcontainer {
                        padding-top: 0;

                        .wpx-map {
                            width: 100%;
                            max-width: 50%;
                            margin-left: 25%;
                            height: 0;
                            background: @wpx_background-100;
                            padding-top: (@XUNIT * 8);
                            position: relative;
                            z-index: 1;

                            overflow: hidden;
                            
                            iframe {
                                position: absolute;
                                z-index: 2;
                                left: 0; top: 0; 
                                width: 100%; 
                                height: 100%;
                            }

                        }
                    }
                }
            }
        }
    }

    // IMAGE FIELD
    .wpx-mediaupload,
    .wpx-mediaupload .wpx-mediaupload__inner {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;        
    }

    .wpx-mediaupload {
        .wpx-mediaupload {
            &__preview,
            &__inner {
                &[data-state="hidden"] {
                    display: none;
                    pointer-events: none;
                }
            }

            // PREVIEW FIELD
            &__preview {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;  
                border-radius: 3px;
                overflow: hidden;                     
            }

            &__asset {
                flex: 0 0 100px;
                max-width: 100px;
                padding-top: 100px;
                position: relative;
                overflow: hidden;
                background-color: @wpx_blue-100;

                img {
                    .block();

                    position: absolute;
                    left: 50%; top: 50%;
                    .position(-50%, -50%);

                    width: 100%; height: auto;

                    &.landscape {
                        width: auto; height: 100%;
                    }
                    
                    &.portrait {
                        width: 100%; height: auto;
                    }
                }
            }

            &__metadata {
                flex: 1 1 auto;
                background-color: @White;
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                justify-content: center;
                padding: 0 @XUNIT;
                border: 1px solid @wpx_border-50; 
                border-left: 0;
                border-radius: 3px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                position: relative;
                max-width: 100%;
                .nowrap();
            }

            &__meta {
                &_title {
                    line-height: (@XUNIT * .75);
                }

                &_filesize {
                    font-size: (@XUNIT * 0.3125);
                    line-height: (@XUNIT * .5);
                    color: @wpx_bodycolor-50;
                }
            }

            &__clear {
                position: absolute;
                right: 0; top: 0; bottom: 0;
                width: @XUNIT;
                text-align: center;

                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                .transition();
                transition-property: background-color;

                .md-icon {
                    font-size: (@XUNIT * .5);
                }

                &:hover,
                &:active {
                    background-color: @wpx_background-50;
                }
            }

            // UPOAD FIELD
            &__inner {
                width: 100%;
                border-radius: 6px;
                border: 2px dashed @wpx_border-50;

                background-color: @White;
                padding: (@XUNIT * 1);
            }

            &__button {
                display: flex;
                flex: 1 1 auto;
                width: 100%;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                
                line-height: @XUNIT;

                .md-icon {
                    margin-right: (@XUNIT * .25);
                }

                span {
                    &.wpx-mediaupload__label {
                        color: @wpx_blue-50;
                    }
                }
            }
        }
    }

    // SUBMIT BUTTON WRAPPER
    .actions {
        .nomargin();
        padding: 0 (@XUNIT * .75);
        width: 100%;

        .actions {
            &__inner {
                display: flex;
                flex-flow: row nowrap;
                padding: (@XUNIT * .5) 0;

                input {
                    &[type="submit"] {
                        padding: 0 (@XUNIT * .5);
                        line-height: (@XUNIT - 2px);
                        text-transform: capitalize;
                    }
                }
            }

            &__label {
                cursor: default;
            }
        }
    }

}