// main: styles.less
@charset "utf-8";
@import "config.less";
@import "normalize.less";
@import "typography.less";

/* Document: wpx_importutils.css */

// ---------------------------------------------------------- //
// CONTENT GROUP
// ---------------------------------------------------------- //
.component {
    
    &.wpx-utilscontainer,
    &.wpx-datafield {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
    }

    &.wpx-utilscontainer {
        flex-flow: row wrap;
    }

    &.wpx-datafield {
        flex-flow: row nowrap;
        overflow: hidden;
        margin: 0 0 @XUNIT;

        textarea {
            flex: 1;
            resize: vertical;
            max-width: 100%;
            min-height: @XUNIT * 8;

            &[readonly] {
                background: fade(@White, 20%);
            }
        }
    }

}