// main: styles.less
@charset "utf-8";
@import "config.less";
@import "normalize.less";
@import "typography.less";

/* Document: wpx_contentgroup.css */

// ---------------------------------------------------------- //
// CONTENT GROUP
// ---------------------------------------------------------- //
.component {
    &.wpx-modeladmingroupcontainer {
        display: flex;
        flex-flow: row wrap;
        margin: 0 ((@XUNIT * .5) * -1);
    }

    &.wpx-modeladmingroup {
        display: flex;
        flex: 1 1 100%;
        padding: (@XUNIT * .5);
        
        .responsive960({
            flex: 1 1 50%;
            max-width: 50%;
        });

        .wpx-modeladmingroup {
            &__inner {
                display: flex;
                flex: 1;
                flex-flow: column nowrap;
                padding: @XUNIT;
                border: 1px solid @wpx_border-50;
                border-radius: 3px;
                background: @wpx_background-50;
                .transition();
                transition-property: box-shadow, transform, -webkit-transform, border-color;
                background: @White;

                &:hover,
                &:active {
                    .cardShadowHelper(2);
                    .position(0,-4px);
                    border-color: @White;
                }                

                > * {
                    width: 100%;
                    max-width: 100%;
                }
            }

            &__heading {
                margin: 0 0 (@XUNIT * .25);
            }

            &__header {

            }

            &__content {
                display: flex;
                flex-flow: column nowrap;
                flex: 1;

                p {
                    margin-bottom: (@XUNIT * .5);
                }

                .md-icon {
                    overflow: hidden;
                }

                .warning {
                    background: lighten(@wpx_warning-50, 40%);
                    border: 1px solid lighten(@wpx_warning-50, 30%);
                    border-radius: 3px;
                    padding: (@XUNIT * .25);

                    color: darken(@wpx_warning-50, 30%);
                    
                    *:not(a) {
                        color: darken(@wpx_warning-50, 30%)
                    }
                }

                .info {
                    background: lighten(@wpx_info-50, 40%);
                    border: 1px solid lighten(@wpx_info-50, 30%);
                    border-radius: 3px;
                    padding: (@XUNIT * .25);

                    color: darken(@wpx_info-50, 30%);
                    
                    *:not(a) {
                        color: darken(@wpx_info-50, 30%)
                    }
                }

                .wpx-buttoncontainer {
                    margin-top: auto;
                }
            }
        }
    }

    &.wpx-separator {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 0 @XUNIT;
        height: 0;
        background: none;
        border: none;
        border-top: 1px solid @wpx_border-50;
        outline: 0;
        overflow: hidden;
    }

    &.wpx-heading {
        margin: 0 0 (@XUNIT * .5);
        flex: 0 0 100%;
        max-width: 100%;

        position: relative;
        z-index: 2;
        line-height: (@XUNIT * 1.625);
        font-weight: 400;
        font-size: (@XUNIT * .5);
        text-transform: none;

        display: flex;
        flex-flow: row nowrap;

        border-top: 1px solid @wpx_border-50;
    }

}